.carrinho{
  .cartListHover{
    display:none;
    // width:340px;
    height:auto;
    background:#FFF;
    border:1px solid rgba(21,22,23,0.2);
    border-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    position:absolute;
    top:45px;
    left:-280px;
    z-index:7;
    &.active{display:block;}//&.active
    &.cartResume{
      width:24.6%!important;
      position:fixed;
      top:200px;
      left:unset;
      right:15px;
      box-shadow:0 4px 8px 0 rgba(21,22,23,0.2);
      ul{
        &::before{
          display:none;
        }//&::before
      }//ul
    }//&.cartResume
    &.shopCart{
      // padding:0;
      position:relative;
      top:unset;
      left:unset;
      h2{
        text-transform:uppercase;
        letter-spacing:1px;
      }//h2
      ul{
        &::before{
          display:none;
        }//&::before
        li{
          &.subtotal{
            display:inline-block;
            margin-top:40px;
            margin-bottom:0;
            padding-top:7px;
            padding-right:9px;
            padding-bottom:7px;
            border-top:1px solid #ccc;
            border-bottom:0;
            font-weight:500;
            line-height:30px;
            vertical-align:middle;
            text-align:right;
            .price{
              color:#FFF;
              background:#ff5b50;
              margin-left:20px;
              padding:7px 10px 5px;
              font-weight:300;
              line-height:20px;
            }//.price
          }//&.subtotal

          a{
            &.close{
              margin-right:5px;
            }//&.close
          }//a
        }//li
      }//ul
    }//&.shopCart
    h2{
      margin:0;
      padding:5px 0px;
      display:block;
      font-size:16px;
      font-weight:300;
      line-height:18px;
      letter-spacing:1px;
      text-align:center;
      text-transform:uppercase;
      color:#FFF;
      background:#ff5b50;
    }//h2
    ul{
      width:100%;
      display:inline-block;
      padding-top:5px;
      padding-bottom:0;
      border-bottom:1px solid #ccc;
      list-style:none;
      &::before{
        content:"\f0d8";
        font-family:'FontAwesome';
        font-size:26px;
        position:absolute;
        top:-23px;
        right:24px;
        color:#000;
      }//&::before
      li{
        display:inline-block;
        width:100%;
        text-align:left;
        padding:12px 16px 8px 13px;
        margin:0;
        border-bottom:1px solid #ccc;
        position:relative;
        // &:first-child{border-top:0;}//&:last-child
        &:hover,&:active,&:focus{
          background-color:rgba(0,0,0,0.1);
        }//&:hover,&:active,&:focus
        &.empty{text-align:center;}//&.empty
        a{
          &.close{
            float:left;
            color:#e30613;
            margin-top:3px;
            margin-right:3px;
          }//&.close
        }//a
        figure{
          width:42px;
          height:auto;
          display:inline-block;
          float:left;
          margin-top:-7px;
          margin-right:10px;
          img{}//img
        }//figure
        span{
          display:inline-block;
          margin-right:10px;
          &:last-child{margin-right:0;}//&:last-child
          &.title{
            float:left;
          }//&.title
          &.qty{
            margin-top:-7px;
            margin-left:-5px;
            font-size:12px;
            float:left;
          }//&.qty
          &.price{
            float:right;
            text-align:left;
            width:9%;
          }//&.price
        }//span

        &.subtotal{
          display:inline-block;
          margin-top:40px;
          margin-bottom:0;
          padding-top:5px;
          padding-bottom:5px;
          border-top:1px solid #ccc;
          border-bottom:0;
          font-weight:500;
          line-height:30px;
          vertical-align:middle;
          .price{
            width:auto;
            color:#FFF;
            background:#ff5b50;
            padding:7px 10px 5px;
            font-weight:300;
            line-height:20px;
          }//.price
        }//&.subtotal
      }//li
    }//ul
    .btn{
      transition:0.3s;
      padding:12px 40px;
      margin:16px 7px;
      border:0;
      position:relative;
      box-shadow:-1px 1px 1px 0px rgba(0,0,0,0.66);
      &:hover,&:active,&:focus{
        box-shadow:0px 1px 1px 0px rgba(0,0,0,0.66);
        &::before{
          // left:100%;
          background:#5cb85c;
        }//&::before
        &::after{
          transition:0.4s;
          // background:#449d44;
          background:#000;
          width:0%;
          height:1px;
          left:50%;
          bottom:10px;
          box-shadow:1px 1px 1px rgba(0,0,0,0.66);
        }//&::after
        span{
          // text-shadow:-1px 1px 1px rgba(0,0,0,0.77);
        }//span
      }//&:hover,&:active,&:focus
      &.btn-secondary{
        background:#5bc0de;
        padding:5px 20px;
        margin-top:24px;
        margin-left:20px;
        box-shadow:0px 1px 1px 0px rgba(0,0,0,0.66);
        &:hover,&:active,&:focus{
          background:#31b0d5;
          &::after{
            width:100%;
            height:2px;
            left:0%;
            bottom:0;
            background:#5bc0de;
          }//&::after
        }//&:hover,&:active,&:focus
        &::after{
          background:#31b0d5;
          width:100%;
          height:2px;
          left:0;
          bottom:0;
          // display:none;
        }//&::after
        span{
          text-shadow:unset;
          font-size:14px;
          font-weight:300;
          line-height:16px;
        }//span
      }//&.btn-secondary
      &::after{
        content:'';
        width:100%;
        height:3px;
        // background:#000;
        background:#5cb85c;
        position:absolute;
        left:0;
        bottom:0;
      }//&::after
      &::before{
        left:0%;
        // background:#449d44;
      }//&::before
      span{
        color:#FFF;
        font-size:15px;
        font-weight:500;
        line-height:16px;
        letter-spacing:1px;
        text-transform:uppercase;
        text-shadow:0px -1px 1px rgba(0,0,0,0.66);
      }//span
    }//.btn
  }//.cartListHover

  .panel{
    box-shadow:none;
    .panel-body{
      background:transparent!important;
    }//.panel-body
  }//.panel
}//.carrinho
