@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .shop .topbarHeader {
    display: none; }
  .shop .navHeader {
    top: 0 !important; }
    .shop .navHeader .logoHeader figure a img {
      width: 70%; }
    .shop .navHeader .searchTop div {
      display: none; }
      .shop .navHeader .searchTop div.input-group {
        display: inline-block; }
        .shop .navHeader .searchTop div.input-group div {
          display: inline-block; }
          .shop .navHeader .searchTop div.input-group div .searchBtnContainer {
            left: -13px; }
            .shop .navHeader .searchTop div.input-group div .searchBtnContainer .fa-search {
              padding: 8px 12px 9px 11px; }
    .shop .navHeader .navMenuContainer {
      display: none; }
    .shop .navHeader .cartContainer {
      padding: 10px 0 !important; }
    .shop .navHeader .socialNetwork {
      display: none; }
  .shop .carousel.slide {
    top: 20px !important;
    height: 200px !important; }
  .shop .contentContainer {
    padding-top: 180px !important; } }
