@media only screen and (min-width: 321px) and (max-device-width: 720px) {
  .shop .topbarHeader {
    display: none; }
  .shop .navHeader {
    top: 0 !important; }
    .shop .navHeader .logoHeader figure a img {
      width: 70%; }
    .shop .navHeader .navMenuContainer {
      display: none; }
    .shop .navHeader .socialNetwork {
      width: 30%;
      position: absolute;
      top: 20px;
      right: 0; }
      .shop .navHeader .socialNetwork ul li a {
        border: 1px solid red; }
  .shop .carousel.slide {
    height: 230px !important; }
  .shop .contentContainer {
    padding-top: 230px !important; } }
