.carousel{
  // display:inline-block;
  clear:both;
  position:relative;
  top:unset;
  left:unset;
  // margin-bottom:30px;
  z-index:5;
  &.slide{
    transition:0.6s;
    width:100%;
    height:430px;
    position:relative;
    &::before{
      content:'';
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.0);
      position:absolute;
      top:0;
      left:0;
      z-index:7;
    }//&::before
    .carousel-indicators{
      top:40%;
      left:unset;
      right:2%;
      bottom:unset;
      width:5%;
      margin:0 auto;
      z-index:8;
      li{
        transition:0.3s;
        width:13px;
        height:13px;
        display:block;
        margin:5px 3px;
        background-color:#7f7f7f;
        &.active{
          width:13px;
          height:13px;
          background-color:#181818;
        }//&.active
      }//li
    }//.carousel-indicators
    .carousel-control{
      transition:0.4s;
      width:43px;
      height:43px;
      border-radius:50%;
      text-align:center;
      box-shadow:none;
      // background:#919191;
      background:rgba(255,255,255,0.2);
      position:absolute;
      top:48%;
      z-index:8;
      opacity:0.8;
      &.left{left:0;}//&.left
      &.right{right:0;}//&.right
      &:hover{
        background:rgba(255,108,147,0.8);
      }//&:hover
      span{
        font-size:18px;
        line-height:33px;
        &.glyphicon-chevron-left{
          &::before{
            content:'\f053';
            font-family:'FontAwesome';
            margin-left:-3px;
          }//&::before
        }//&.glyphicon-chevron-left
        &.glyphicon-chevron-right{
          &::before{
            content:'\f054';
            font-family:'FontAwesome';
            margin-right:-3px;
          }//&::before
        }//&.glyphicon-chevron-right
      }//span
    }//.carousel-control
    .carousel-inner{
      width:100%;
      height:100%;
      position:relative;
      z-index:6;
      .item{
        width:100%;
        height:100%;
        .react-parallax{
          width:100%;
          height:100%;
          img{width:140%!important;height:auto!important;}
        }//.react-parallax
      }//.item
    }//.carousel-inner

  }//&.slide
}//.carousel
