@font-face{
  font-family:'Open Sans';
  src:url(./../fonts/opensans-regular-webfont.eot);
  src:url(./../fonts/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-regular-webfont.woff) format('woff'),
  url(./../fonts/opensans-regular-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-regular-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'Open Sans Light';
  src:url(./../fonts/opensans-light-webfont.eot);
  src:url(./../fonts/opensans-light-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-light-webfont.woff) format('woff'),
  url(./../fonts/opensans-light-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-light-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'Open Sans Italic';
  src:url(./../fonts/opensans-italic-webfont.eot);
  src:url(./../fonts/opensans-italic-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-italic-webfont.woff) format('woff'),
  url(./../fonts/opensans-italic-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-italic-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'Open Sans Bold';
  src:url(./../fonts/opensans-bold-webfont.eot);
  src:url(./../fonts/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-bold-webfont.woff) format('woff'),
  url(./../fonts/opensans-bold-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-bold-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'Open Sans SemiBold';
  src:url(./../fonts/opensans-semibold-webfont.eot);
  src:url(./../fonts/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-semibold-webfont.woff) format('woff'),
  url(./../fonts/opensans-semibold-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-semibold-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'Open Sans Regular';
  src:url(./../fonts/opensans-regular-webfont.eot);
  src:url(./../fonts/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/opensans-regular-webfont.woff) format('woff'),
  url(./../fonts/opensans-regular-webfont.ttf) format('truetype'),
  url(./../fonts/opensans-regular-webfont.svg) format('svg');
  font-weight:400;
  font-style:normal
}
