.footerContainer{
  padding:3px 0 0;
  background:#EEE;
  h3{
    color:#000;
    font-family:'Roboto Condensed',sans-serif;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    text-align:left;
    letter-spacing:2px;
    display:inline-block;
    position:relative;
    padding-bottom:8px;
    margin-bottom:20px;
    // border-bottom:1px solid #e30613;
    &::after{
      content:'';
      width:12px;
      height:1px;
      background:#e30613;
      position:absolute;
      left:0;
      bottom:0;
    }//&::after
  }//h3
  ul{
    li{
      a{
        color:#333;
        border-bottom:1px solid transparent;
        display:inline-block;
        &:hover,&:focus{
          color:#ff5b50;
          border-bottom:1px solid #ff5b50;
          text-decoration:none;
        }//&:hover,&:focus
      }//a
    }//li
  }//ul
  .boxSocialContainer{
    background:#eeeeee;
    padding:0;
  }//.boxSocialContainer
  .copyright{
    margin-top:20px;
    padding:10px 0;
    border-top:1px solid #ddd;
    position:relative;
    // &::after{
    //   content:'';
    //   width:46px;
    //   height:26px;
    //   background:url('https://img.clipartfest.com/37067955c5b0f0599a7822e367b9f039_png-small-medium-large-ufo-clipart-png_600-310.png') no-repeat 0% 0% / 100% auto;
    //   position:absolute;
    //   top:4px;
    //   right:15px;
    //   // transform:rotate(12deg);
    // }//&::after
    span{
      color:#000;
      font-family:'Roboto Condensed',sans-serif;
      font-size:9px;
      font-weight:500;
      line-height:10px;
      text-transform:uppercase;
      text-align:center;
      letter-spacing:2px;
      display:block;
    }//span
  }//.copyright
}//.footerContainer
