.logoHeader{
  padding:10px 0;
  a{
    display:block;
    h1{
      transition: 0.3s;
      color:#FFF;
      font-size:34px;
      line-height:46px;
      text-shadow: -2px -1px 3px rgba(255,255,255, 0.66);
      position:relative;
      padding-left:10px;
      img{
        animation: rotateInfinite 4s infinite linear both;
        opacity: 0.05;
        width:30%;
        position:absolute;
        top:5px;
        left:-10px;
        z-index:7;
        &.one{animation: rotateInfinite 5s 1.2s infinite linear both;}//&.one
        &.two{animation: rotateInfinite 3.8s 1s infinite linear both;}//&.two
      }//img
      span{
        position:relative;z-index:8;
        i{
          font-size:10px;
          line-height:12px;
          text-shadow:none;
          text-transform:uppercase;
          font-style:normal;
          letter-spacing:0.5px;
          padding:4px;
          position:absolute;
          top:0;
          right:-15px;
          display:block!important;
        }//i
      }//span
      .pokebola{
        animation: rotateInfinite 1s infinite linear both;
        transform: rotate(-90deg);
        padding:12px;
        position:absolute;
        top:0;
        right:-10px;
        border-radius:50%;
        background:red;
        overflow:hidden;
        span{
          width:50%;
          height:100%;
          position:absolute;
          top:0;
          right:0;
          background:#000;
          &::before{
            content:"";
            width:52%;
            height:25%;
            border-radius:50%;
            background:#FFF;
            position:absolute;
            top:38%;
            right:75%;
            z-index:7;
          }//&::before
        }//span
      }//.pokebola
    }//h1
    &:hover,&:active,&:focus{
      text-decoration:none;
      h1{
        text-shadow: 0px 0px 2px rgba(255,255,255, 0.88);
      }//h1
    }//&:hover,&:active,&:focus
  }//a
}//.logoHeader
