.navSidebar{
  height:91.7%!important;
  background-color:#2a3542;
  ul{
    text-align:left;
    li{
      padding:0!important;
      display:block;
      a{
        transition:0.3s;
        &:hover,&:active,&:focus,&.active{
          background-color:#5c656f;
          color: #ff5b50;
        }//&:hover,&:active,&:focus,&.active
        span{margin-left:5px;font-family:'Josefin Sans',sans-serif;}
        display:block;
        padding:20px 20px;
        font-size:14px;
        line-height:16px;
        vertical-align:middle;
        color:#aeb2b7;
        border-bottom:1px solid #35404d;
        text-transform:capitalize;
      }//a
    }//li
  }//ul
}//.navSidebar
