.shop{
  .navHeader{
    transition:0.3s;
    // background-color:#000!important;
    background-color:#FFF!important;
    // box-shadow:0px -10px 10px 11px rgba(0, 0, 0, 0.66);
    // box-shadow:0px -10px 10px 11px rgba(255,255,255,0.66);
    position:relative;
    top:0;
    &.scrolling{
      top:0;
      left:0;
      .logoHeaderContainer{
        transition:0.3s;
        width:16.66666667%!important;
        padding:0!important;
        .logoHeader{
          // transition-delay:0.3s;
          padding:0 0 0px 10px!important;
        }//.logoHeader
      }//.logoHeaderContainer
      .searchTop{
        transition:0.3s;
        margin-top:5px;
        ul{display:none;}
        .searchInput{
          width:100%;
          display:block;
          padding:7px 10px 7.6px;
        }//.searchInput
        .searchBtnContainer{
          .fa-search{
            padding:8px 12px 9px 11.5px;
          }//.fa-search
          .searchBtn{
            border:0;
            padding:7px 20px;
          }//.searchBtn
        }//.searchBtnContainer
      }//.searchTop
      .cartContainer{
        transition:0.3s;
        padding:5px 0 0;
        float:right;
        position:fixed;
        top:7px;
        right:40px;
        .userHeaderContainer{
          width:60%;
        }//.userHeaderContainer
      }//.cartContainer

      .telephoneHeader{
        transition:0.1s;
        top:7px;
      }//.telephoneHeader

      .navMenuContainer{
        ul{
          li{
            a{
              transition:0.3s 0.3s;
              // padding:5px 10px 3px;
            }//a
          }//li
        }//ul
      }//.navMenuContainer
    }//&.scrolling
    .searchTop{
      margin-top:25px;
      ul{
        list-style:none;
        text-align:left;
        li{
          display:inline-block;
          text-align:center;
          font-size:12px;
          font-weight:300;
          letter-spacing:1px;
          padding:5px 10px 8px!important;
          position:relative;
          a{
            transition:0.3s;
            display:block;
            color:#ff5b50;
            font-size:12px;
            padding:5px 0!important;
            position:relative;
            &:hover,&:active,&:focus{
              // color:#000;
              // text-shadow:1px 1px 0px rgba(255,255,255,0.66);
              text-decoration:none;
              &::before{
                width:96%;
                left:2%;
                bottom:3px;
                box-shadow:1px 1px 1px #ff5b50;
              }//&::before
            }//&:hover,&:active,&:focus
            &::before{
              transition:0.3s;
              content:"";
              width:100%;
              height:0.8px;
              background:#000;
              position:absolute;
              left:0;
              bottom:0;
            }//&::before
          }//a
        }//li
      }//ul
      .searchInput{
        width:100%;
        display:block;
        border:1px solid #000;
        padding:7px 10px 7.4px;
      }//.searchInput
      .searchBtnContainer{
        position:relative;
        display:inline-block;
        transition:0.3s;
        cursor:pointer;
        &:hover{
          .fa-search{
            background:#000;
            color:#ff5b50;
          }//.fa-search
        }//&:hover
        .fa-search{
          transition:0.4s;
          position:absolute;
          top:0;
          left:0%;
          font-size:18px;
          padding:8px 12px 8px 11px;
          color:#FFF;
          // background:transparent;
          background:#ff5b50;
          border:0.5px solid #000;
          border-left:0;
          // border:1px solid #ff5b50;
        }//.fa-search
        .searchBtn{
          background:transparent;
          border:0;
          padding:7px 20px;
        }//.searchBtn
      }//.searchBtnContainer
    }//.searchTop

    .telephoneHeader{
      position:fixed;
      top:24px;
      left:60px;
      font-size:22px;
      letter-spacing:1px;
    }//.telephoneHeader

    .navMenuContainer{
      // border-top:1px solid #000;
      text-align:left;
      background:#f4f4f4;
      .navIconSocial{display:none;}//.navIconSocial
      ul{
        list-style:none;
        display:inline-flex;
        li{
          background:#f4f4f4;
          position:static;
          // padding:5px 5px 5px 0;
          margin-right:5px;
          display:inline-block;
          &:last-child{margin-right:0;}//&:last-child
          a{
            transition:0.3s;
            display:block;
            color:#000;
            text-transform:uppercase;
            text-align:center;
            text-decoration:none;
            font-weight:600;
            letter-spacing:1px;
            padding:20px 14px 18px 10px;
            position:relative;
            overflow:hidden;
            span{
              position:relative;
              z-index:7;
            }//span
            &.hasParent{
              padding:20px 23px 18px 10px;
              &::after{
                content:'\f107';
                font-size:14px;
                font-family:'FontAwesome';
                position:absolute;
                // top:0;
                right:3px;
              }//&::after
            }//&.hasParent
            &.active{
              border-bottom:1px solid #e30613;
            }//&.active
          }//a
          &:hover,&:active,&:focus{
            a{
              border-bottom:1px solid #e30613;
              text-decoration:none;
              &::before{
                transform:scale(1);
              }//&::before
              &::after{
                color:#e30613;
              }//&::after
            }//a

            .submenu{
              // bottom:-262%;
              top:100%;
              opacity:1;
              a{
                border:none;
                &::before{display:none;}//&::before
                &::after{display:none;}//&::after
              }//a
            }//.submenu
          }//&:hover,&:active,&:focus

          &.has-submenu{

          }//&.has-submenu
          .submenu{
            transition:0.4s;
            width:100%;
            position:absolute;
            top:-170%;
            bottom:unset;
            left:0;
            background:#f4f4f4;
            margin-top:1px;
            opacity:0;
            .level1{
              width:auto;
              min-width:25%;
              padding:20px 20px 30px;
              display:block;
              li{
                transition:background 0.3s;
                display:block;
                margin:5px 0 0;
                a{
                  font-weight:400;
                  text-transform:capitalize;
                  letter-spacing:0px;
                  padding:5px 10px;
                  text-align:left;
                  &:before{display:none;}//&:before
                }//a
                &:hover,&:active,&:focus{
                  background:rgba(0,0,0,0.22);
                  color:#FFF;
                  a{
                    &:before{display:none;}//&:before
                  }//a
                }//&:hover,&:active,&:focus
              }//li
            }//.level1
          }//.submenu
        }//li
      }//ul
    }//.navMenuContainer
    .cartContainer{
      padding:26px 0 0;
      .cartHover{
        position:relative;
        &::before{
          content:'';
          width:0.8px;
          height:100%;
          background:transparent;
          position:absolute;
          top:0;
          left:-7px;
          box-shadow:1px 1px 1px 0px rgba(0,0,0,0.44);
        }//&::before
        .fa-shopping-cart{
          font-size:34px;
          // color:#ff5b50;
          color:#000;
          // text-shadow:0px 1px 1px rgba(0,0,0,0.66);
          position:relative;
          .countItems{
            width:14px;
            height:14px;
            background:#ff5b50;
            color:#FFF;
            font-family:'Helvetica', sans-serif;
            border-radius:50%;
            text-align:center;
            font-size:11.6px;
            line-height:14px;
            position:absolute;
            top:2%;
            right:-3%;
          }//.countItems
        }//.fa-shopping-cart
        .cartListHover{
          display:none;
          width:340px;
          height:auto;
          background:#FFF;
          border:1px solid rgba(21,22,23,0.2);
          border-top-left-radius:3px;
          border-top-right-radius:3px;
          border-bottom-left-radius:0px;
          border-bottom-right-radius:0px;
          position:absolute;
          top:45px;
          left:-280px;
          z-index:7;
          &.active{display:block;}//&.active
          h2{
            margin:0;
            padding:5px 0px;
            display:block;
            font-size:16px;
            font-weight:300;
            line-height:18px;
            letter-spacing:1px;
            text-align:center;
            text-transform:uppercase;
            color:#FFF;
            background:#ff5b50;
          }//h2
          ul{
            width:100%;
            display:inline-block;
            padding-top:5px;
            padding-bottom:5px;
            border-bottom:1px solid #ccc;
            &::before{
              content:"\f0d8";
              font-family:'FontAwesome';
              font-size:26px;
              position:absolute;
              top:-23px;
              right:24px;
              color:#000;
            }//&::before
            li{
              display:inline-block;
              width:100%;
              text-align:left;
              padding:12px 16px 8px 13px;
              border-bottom:1px solid #ccc;
              position:relative;
              // &:first-child{border-top:0;}//&:last-child
              &:hover,&:active,&:focus{
                background-color:rgba(0,0,0,0.1);
              }//&:hover,&:active,&:focus
              &.empty{text-align:center;}//&.empty
              a{
                &.close{
                  float:left;
                  color:#e30613;
                  margin-top:3px;
                  margin-right:3px;
                }//&.close
              }//a
              figure{
                width:42px;
                height:auto;
                display:inline-block;
                float:left;
                margin-top:-7px;
                margin-right:10px;
                img{}//img
              }//figure
              span{
                display:inline-block;
                margin-right:10px;
                &:last-child{margin-right:0;}//&:last-child
                &.title{
                  float:left;
                }//&.title
                &.qty{
                  margin-top:-7px;
                  margin-left:-5px;
                  font-size:12px;
                  float:left;
                }//&.qty
                &.price{
                  float:right;
                  text-align:left;
                  width:25%;
                }//&.price
              }//span

              &.subtotal{
                display:block;
                margin-top:40px;
                margin-bottom:0;
                padding-top:5px;
                padding-bottom:0;
                border-top:1px solid #ccc;
                border-bottom:0;
                font-weight:500;
                line-height:30px;
                vertical-align:middle;
                .price{
                  width:auto;
                  color:#FFF;
                  background:#ff5b50;
                  padding:7px 10px 5px;
                  font-weight:300;
                  line-height:20px;
                }//.price
              }//&.subtotal
            }//li
          }//ul
          .btn{
            transition:0.3s;
            padding:7px 20px;
            margin:7px;
            border:0;
            position:relative;
            &:hover,&:active,&:focus{
              box-shadow:0px 1px 1px 1px rgba(0,0,0,0.66);
              &::before{
                // left:-100%;
              }//&::before
              &::after{
                // background:#FFF;
              }//&::after
            }//&:hover,&:active,&:focus
            &::after{
              content:'';
              width:100%;
              height:2px;
              background:#000;
              position:absolute;
              left:0;
              bottom:0;
            }//&::after
            &::before{
              left:0;
            }//&::before
            span{
              color:#FFF;
              letter-spacing:1px;
              text-transform:uppercase;
              text-shadow:0px -1px 1px rgba(0,0,0,0.66);
            }//span
          }//.btn
        }//.cartListHover
        &:hover,&:active,&:focus{
          .fa{
            text-decoration:none;
          }
          .cartListHover{
            display:block;
            .btn{
              background:#000;
              span{}//span
            }//.btn
          }//.cartListHover
        }//&:hover,&:active,&:focus
      }//.cartHover

      .userHeaderContainer{
        padding-bottom:20px;
        position:relative;
        cursor:pointer;
        .fa-user-o{
          display:block;
          margin-left:5px;
          padding-top:3px;
          font-size:28px;
          font-weight:300;
          // color:#ff5b50;
          color:#000;
          text-decoration:none;
          // text-shadow:0px 1px 1px rgba(0,0,0,0.66);
          position:relative;
          span{
            color:#000;
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size:14px;
            font-weight:300;
            line-height:16px;
            text-shadow:none;
            letter-spacing:0.5px;
            position:absolute;
            top:8px;
            left:30px;
            padding-bottom:2px;
            &::after{
              content:'';
              width:100%;
              height:1px;
              // background:#ff5b50;
              background:#000;
              position:absolute;
              left:0;
              bottom:0;
            }//&::after
          }//span
        }//.fa-user-o
        .userHover{
          display:none;
          width:300px;
          height:auto;
          background:#FFF;
          border:1px solid rgba(21,22,23,0.2);
          border-top-left-radius:3px;
          border-top-right-radius:3px;
          border-bottom-left-radius:0px;
          border-bottom-right-radius:0px;
          position:absolute;
          top:45px;
          left:-260px;
          z-index:7;
          &::before{
            content:"\f0d8";
            font-family:'FontAwesome';
            font-size:26px;
            position:absolute;
            top:-23px;
            right:14px;
            color:#000;
          }//&::before
          h2{
            margin:0;
            padding:5px 0px;
            display:block;
            font-size:16px;
            font-weight:300;
            line-height:18px;
            letter-spacing:1px;
            text-align:center;
            text-transform:uppercase;
            color:#FFF;
            background:#ff5b50;
          }//h2

          form{
            display:inline-block;
            &[name='login']{
              padding-bottom:5px;
              .input-group{
                margin-bottom:10px;
              }
            }//&[name='login']
          }//form
        }//.userHover

        &:hover,&:active,&:focus{
          text-decoration:none;
          .userHover{
            display:block;
          }//.userHover
        }//&:hover,&:active,&:focus
      }//.userHeaderContainer
    }//.cartContainer
  }//.navHeader
}//.shop
.dashboard{
  .navHeader{
    transition:0.3s;
    position:fixed;
    top:0;
    left:0;
    background-color:#2a3542;
    border-bottom: 1px solid #35404d;
    &.navHeaderDashboard{
      .logoHeader{
        padding:9px 0 0;
      }//.logoHeader
      ul{
        li{
          display:inline-block;
        }//li
      }//ul
    }//&.navHeaderDashboard
    ul{
      list-style:none;
      text-align:right;
      &.navSidebar{
        margin:9px auto 9px;
        li{
          a{
            text-align:left;
          }//a
        }//li
      }//&.navSidebar
      li{
        padding:14px 10px;
        display:block;
        a{
          &:hover,&:active,&:focus,&.active{
            color:#ff5b50;
          }//&:hover,&:active,&:focus,&.active
          span{font-family:'Josefin Sans',sans-serif;}
          color:#FFF;
          text-decoration:none;
          text-transform:normal;
          // font-family:'Josefin Sans',sans-serif;
          font-weight:500;
          font-size:16px;
          line-height:18px;
          vertical-align:middle;
          &.disabled{text-decoration:line-through;opacity:0.44;&:hover{background:none;color:rgba(255,255,255,0.66);opacity:0.44;cursor:not-allowed;}}//&.disabled
        }//a
      }//li
    }//ul
  }//.navHeader

  .contentContainer{
    padding-top:180px;
  }//.contentContainer
}//.dashboard
