/*Scroll Internet Explorer*/
		body{
			scrollbar-base-color: #2a3542;
			scrollbar-3dlight-color: #2a3542;
			scrollbar-highlight-color: #2a3542;
			scrollbar-track-color: #5c656f;
			scrollbar-arrow-color: #777;
			scrollbar-shadow-color: #2a3542;
			scrollbar-dark-shadow-color: #2a3542;
		}
	/*FIM Scroll Internet Explorer*/

	/*Scroll Chrome e Mozilla*/
		::-webkit-scrollbar {
			width: 8px;
			height: 10px;
		}

		/* Fundo da barra de rolagem */
		::-webkit-scrollbar-track-piece {
			// background-color: #2a3542;
			background-color: #777;
		}

		/* Cor do indicador de rolagem */
		::-webkit-scrollbar-thumb:vertical,
		::-webkit-scrollbar-thumb:horizontal {
			// background-color: #5c656f;
			background-color: #000;
		}
		/* Cor do indicador de rolagem - ao passar o mouse */
		::-webkit-scrollbar-thumb:vertical:hover,
		::-webkit-scrollbar-thumb:horizontal:hover {
			// background-color: #777;
			background-color: #b2afaf;
		}
		/* Largura da barra de rolagem */
	/*FIM Scroll Chrome e mozilla*/
