.position-static{position:static;}//.position-static
.position-relative{position:relative;}//.position-relative
.z-index5{z-index:5;}//.z-index5
.z-index6{z-index:6;}//.z-index6
.z-index7{z-index:7;}//.z-index7
.backgroundWhite{background-color:#FFF;}//.backgroundWhite
.no-padding{padding:0!important;}//.no-padding
.no-paddingLeft{padding-left:0!important}//.no-paddingLeft
.no-paddingTop{padding-top:0!important}//.no-paddingTop
.no-paddingRight{padding-right:0!important}//.no-paddingRight
.no-paddingBottom{padding-bottom:0!important}//.no-paddingBottom
.no-float{float:none;}//.no-float
.no-margin{margin:0!important;}//.no-margin
.no-marginBottom{margin-bottom:0!important}//.no-marginBottom
.no-radius{border-radius:0!important;}//.no-radius
.fa-toggle-on{
  color:green;
  font-size:22px;
}//.fa-toggle-on
.fa-toggle-off{
  color:#ddd;
  font-size:22px;
}//.fa-toggle-off
.rotateLeft90{
  transform:rotate(-90deg);
  position:absolute;
  left:-7%;
  bottom:14%;
  font-size:10px;
  font-weight:300;
  letter-spacing:1px;
}//.rotateLeft90
.required_symbol{box-shadow:none;color:rgb(247, 6, 6);}
input.required{box-shadow:0px 0px 3px 1px rgb(247, 6, 6)!important;}
*{margin:0 auto;padding:0;box-sizing:border-box;}
html,body{position:relative;height:100%;}//html,body
ul{margin:0;padding:0;list-style:none;}//ul
a:visited{text-decoration:none;}
.breadcrumb{margin:0;}//.breadcrumb
.shop .home .breadcrumb{display:none;}

.shop{
  .btn{
    &.btn-primary{
      background-color:#ff5b50;
      &.btn-secondary{
        &.btn-extra{
        }//&.btn-extra
      }//&.btn-secondary
      &.btn-extra{
        background:transparent;
        border:3px solid #000;
        color:#000;
        padding:10px 10px;
        font-weight:600;
        letter-spacing:1px;
      }//&.btn-extra
    }//&.btn-primary
  }//.btn

  .sigleBox{
    background:#FFF;
    // border:1px solid #000;
    border:1px solid rgba(21,22,23,0.2);
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    .title{
      margin:0;
      padding:5px 0px;
      display:block;
      font-size:16px;
      font-weight:300;
      line-height:18px;
      letter-spacing:1px;
      text-align:center;
      text-transform:uppercase;
      color:#FFF;
      background:#ff5b50;
    }//.title
  }//.sigleBox

  .lines{
    width:40px;
    height:40px;
    position:absolute;
    top:0;
    left:0;
    &.top_left{
      top:0;
      left:0;
    }//&.top_left
    &.top_right{
      top:0;
      left:unset;
      right:0;
      &::before{
        left:unset;
        right:0;
      }//&::before
    }//&.top_right
    &.bottom_left{
      top:unset;
      left:0;
      bottom:0;
      &::after{
        top:unset;
        bottom:0;
      }//&::after
    }//&.bottom_left
    &.bottom_right{
      top:unset;
      left:unset;
      right:0;
      bottom:0;
      &::before{
        left:unset;
        right:0;
      }//&::before
      &::after{
        top:unset;
        bottom:0;
      }//&::after
    }//&.bottom_right
    &::before{
      content:'';
      width:1px;
      height:40px;
      background:#ff6c93;
      position:absolute;
      top:0;
      left:0;
    }//&::before
    &::after{
      content:'';
      width:100%;
      height:1px;
      background:#ff6c93;
      position:absolute;
      top:0;
      left:0;
    }//&::after
  }//.lines
}//.shop

.dashboard{

  .table{
    small{
      display:block;
      margin:3px 0 0 0;
      .label{
        display:inline-block;
        letter-spacing:0.8px;
        font-weight:500;
        margin:0 5px 0 0;
      }//label
    }//small

    tbody{
      tr{
        td{
          padding:12px 5px 10px;
          h4{
            margin:0;
            transition:0.3s;
            &:hover,&:active,&:focus{
              a{
                text-decoration:none;
                .fa{
                  display:inline-block;
                  text-shadow:1px 1px 0px rgba(0,0,0,0.66);
                }//.fa
              }//a
            }//&:hover,&:active,&:focus
            a{
              color:rgba(0,0,0,0.77);
              .fa{margin-left:10px;display:none;}//.fa
            }//a
          }//h4
        }//td
      }//tr
    }//tbody
  }//.table

  .tabs{
    .nav-tabs{}//.nav-tabs
    .tab-content{
      width:100%;
      display:inline-block;
      border:1px solid #ddd;
      border-top:0;
      padding:10px 0 20px;
    }//.tab-content
  }//.tabs
}//.dashboard

.btn{
  transition:0.3s;
  position:relative;
  overflow:hidden;
  &.btn-primary{
    &::before{
      transition:0.3s;
      content:"";
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:-100%;
      background:#079002;
    }//&::before
    span{position:relative;z-index:7;}//span
    &:hover,&:active,&:focus,&.active{
      &::before{
        left:0;
      }//&::before
    }//&:hover,&:active,&:focus,&.active
  }//&.btn-primary
}//.btn
