// @import "../vars";
// @media only screen  and (min-width : 1824px) {
@media only screen  and (min-width : 1780px) {
  .shop{

    .carousel{
      &.slide{
        min-height:810px!important;

        .carousel-control{
          // top:35%!important;
          span{
            line-height:24px!important;
            &.glyphicon-chevron-left{
              &::before{
                margin-left:2px;
              }//&::before
            }//&.glyphicon-chevron-left
            &.glyphicon-chevron-right{
              &::before{
                margin-right:2px;
              }//&::before
            }//&.glyphicon-chevron-right
          }//span
        }//.carousel-control
      }//&.slide
    }//.carousel

    .contentContainer{
      .page_title{
        font-size:28px;
      }//.page_title
    }//.contentContainer
  }//.shop
}
