// @import "../vars";
@media only screen and (max-width : 320px) {
  .shop{
    .topbarHeader{display:none;}//.topbarHeader
    .navHeader{
      top:0!important;
      .logoHeader{
        figure{
          a{
            img{width:70%;}//img
          }//a
        }//figure
      }//.logoHeader
      .searchTop{
        div{
          display:none;
          &.input-group{
            display:inline-block;
            div{
              display:inline-block;
              .searchBtnContainer{
                left:-13px;
                .fa-search{
                  padding:8px 12px 9px 11px;
                }//.fa-search
              }//.searchBtnContainer
            }//div
          }//&.input-group
        }//div
      }//.searchTop
      &.navMobileOpened{

      }//&.navMobileOpened
      .navMenuContainer{
        ul{
          li{
            display:block;
            a{
            }//a
          }//li
        }//ul
      }//.navMenuContainer
      .cartContainer{
        padding:10px 0!important;
      }//.cartContainer
      .socialNetwork{display:none;}//.socialNetwork
    }//.navHeader

    .carousel{
      &.slide{
        top:20px!important;
        height:200px!important;

        .carousel-control{
          top:35%!important;
          span{
            line-height:24px!important;
            &.glyphicon-chevron-left{
              &::before{
                margin-left:2px;
              }//&::before
            }//&.glyphicon-chevron-left
            &.glyphicon-chevron-right{
              &::before{
                margin-right:2px;
              }//&::before
            }//&.glyphicon-chevron-right
          }//span
        }//.carousel-control
      }//&.slide
    }//.carousel

    .contentContainer{
      padding-top:20px!important;

      .boxProductFeatured{
        margin-top:20px;
        figure{
          margin:20px 0!important;
        }//figure
        .btn{
          span{
            padding:0;
          }//span
        }//.btn
      }//.boxProductFeatured
    }//.contentContainer
  }//.shop
}
