// @import "../vars";
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .scrolling{
    .shop{
      .navHeader{
        position:fixed;
        .navMenuContainer{
          transition:0.3s;
          width:auto;
          height:auto;
          position:fixed;
          top:0;
          right:0;
          z-index:8;
          .navIcon{
            transition:right 0.6s;
            position:absolute;
            top:9px;
            // right:-100%;
            &::before{
              content:'\f0c9';
              font-family:'FontAwesome';
              font-size:32px;
              color:rgba(0,0,0,0.88);
            }//&::before
          }//.navIcon
        }//.navMenuContainer
      }//.navHeader
    }//.shop
    .dashboard{}//.dashboard
  }//.scrolling
  .shop{
    .topbarHeader{display:none;}//.topbarHeader
    .navHeader{
      top:0!important;
      border-bottom:1px solid #ddd;
      .logoHeader{
        figure{
          a{
            img{width:70%;}//img
          }//a
        }//figure
      }//.logoHeader
      .searchTop{
        div{
          display:none;
          &.input-group{
            display:inline-block;
            div{
              display:inline-block;
              .searchBtnContainer{
                left:-13px;
                .fa-search{
                  padding:8px 12px 9px 11px;
                }//.fa-search
              }//.searchBtnContainer
            }//div
          }//&.input-group
        }//div
      }//.searchTop
      .telephoneHeader{
        display:none!important;
      }//.telephoneHeader
      &.navMobileOpened{
        .navMenuContainer{
          .navIcon{
            transition:0.3s 0.2s;
            position:fixed;
            top:0px;
            bottom:unset;
            // right:unset;
            right:7px;
            transform:rotate(-360deg);
            z-index:8;
            &::before{
              content:'\f00d';
              font-family:'FontAwesome';
              font-size:28px;
              color:#FFF;
            }//&::before
          }//.navIcon
          .navIconSocial{
            float:none!important;
            display:block;
            position:fixed;
            top:unset;
            right:-1px;
            bottom:0;
            // left:0;
            width:40px;
            z-index:8;
            // min-height:200px;
            ul{
              width:auto;
              height:auto;
              display:block;
              background:transparent;
              box-shadow:none;
              position:absolute;
              top:unset;
              left:1px;
              bottom:10px;
              li{
                display:block;
                background:transparent;
                box-shadow:none;
                border:0;
                margin-top:5px;
                a{
                  display:block;
                  background:transparent;
                  padding:5px 0 10px;
                  border:0;
                  &.fa{
                    animation:iconSocial 1s 0.6s 1 ease-out;
                  }//&.fa
                }//a
              }//li
            }//ul
          }//.navIconSocial
          ul{
            text-align:right;
            right:0%;
            li{
              // padding-top:30px;
            }//li
          }//ul
        }//.navMenuContainer
      }//&.navMobileOpened
      .navMenuContainer{
        width:auto;
        height:auto;
        position:fixed;
        top:0;
        right:0;
        bottom:unset;
        z-index:8;
        .navIcon{
          position:absolute;
          top:9px;
          right:15px;
          &::before{
            content:'\f0c9';
            font-family:'FontAwesome';
            font-size:32px;
            color:rgba(0,0,0,0.88);
          }//&::before
        }//.navIcon
        .navIconSocial{
          position:absolute;
          display:none;
          top:unset;
          right:-100%;
          bottom:-100%;
          ul{
            li{
              width:100%;
              position:relative;
              padding:4px 0 2px;
              margin:5px 0 0!important;
              text-align:center;
              &::before{
                content:'';
                display:block;
                width:40%;
                height:0.8px;
                background:#000;
                position:absolute;
                left:30%;
                bottom:0;
                box-shadow:0px -1px 7px 0px rgba(255, 255, 255, 0.99);
              }//&::before
              a{
                &.fa{
                  color:#FFF;
                  border:0;
                  padding:3px 0;
                  position:relative;;
                  top:unset;
                  bottom:0;
                  right:unset;
                  left:0px;
                  display:block;
                  &.fa-facebook{
                    // color:#3b5998;
                  }//&.fa-facebook
                  &::before{
                    font-size:24px;
                  }//&::before
                }//&.fa
              }//a
            }//li
          }//ul
        }//.navIconSocial
        .container{
          padding:0;
        }//.container
        ul{
          transition:0.3s;
          width:100%;
          height:100%;
          padding:0!important;
          // background::rgba(255,255,255,0.77);
          // background::rgba(21,21,21,0.77);
          background:#e30613;
          box-shadow:1px 1px 1px rgba(0,0,0,0.66);
          position:fixed;
          top:0;
          right:-100%;
          display:block!important;
          &.opened{right:0;}//&.opened
          &::after{
            content:'';
            display:block;
            width:90%;
            height:100%;
            margin:0;
            background:#f4f4f4;
            position:relative;
            top:0;
            right:0;
          }//&::after
          li{
            width:90%;
            margin:0;
            display:block!important;
            border-bottom:1px solid #e30613;
            a{
              &.active{
                border:0!important;
              }//&.active
            }//a
          }//li
        }//ul
      }//.navMenuContainer
      .cartContainer{
        padding:10px 0!important;
      }//.cartContainer
      .socialNetwork{display:none;}//.socialNetwork
    }//.navHeader

    .carousel{
      &.slide{
        top:0!important;
        height:130px!important;

        .carousel-control{
          top:35%!important;
          span{
            line-height:24px!important;
            &.glyphicon-chevron-left{
              &::before{
                margin-left:2px;
              }//&::before
            }//&.glyphicon-chevron-left
            &.glyphicon-chevron-right{
              &::before{
                margin-right:2px;
              }//&::before
            }//&.glyphicon-chevron-right
          }//span
        }//.carousel-control
      }//&.slide
    }//.carousel

    .contentContainer{
      padding-top:80px!important;
      .page_title{
        text-align:center;
        font-size:20px;
      }//.page_title

      &.home{
        padding-top:20px!important;
        .boxProducts5x3{display:none;}//.boxProducts5x3
        .boxSpecialOffers{
          .carousel{
            &.slide{height:auto!important;}//&.slide
          }//.carousel
        }//.boxSpecialOffers
      }//&.home
      &.blog{
        .blogContainer{
          position:relative;
          &:before{
            display:none;
            top:60px!important;
            height:94%!important;
          }//&:before
          &.singlePost{
            padding:0 0 60px 0!important;
            .fa{
              top:0!important;
              &.fa-facebook{
                right:0!important;
              }//&.fa-facebook
              &.fa-twitter{
                right:28px!important;
              }//&.fa-twitter
            }//.fa
            .col-xs-12{
              padding:0!important;
            }//.col-xs-12
            .post_title{
              padding-right:30px!important;
            }//.post_title
            figure{
              width:90%;
              height:auto;
            }//figure
            .postContainer{
              width:100%!important;
              text-align:justify;
            }//.postContainer
          }//&.singlePost
          .item{
            &::before{
              content:'';
              width:2px;
              height:100%;
              position:absolute;
              top:160px;
              left:49.9%;
              background:#ff6c93;
              display:block;
            }//&::before
            &:last-child{
              &:before{
                height:60%!important;
              }//&:before
            }//&:last-child
            &:nth-child(even){ //ímpar
              .post_container{
                // &:before{
                //   content:'\f078'!important;
                //   top:87%!important;
                //   right:42.8%!important;
                // }//&:before
              //   .post_date{
              //     top:105%!important;
              //     right:38%!important;
              //   }//.post_date
              }//.post_container
            }//&:nth-child(even)
            &:nth-child(odd){ //par
              padding-bottom:100px!important;
              .post_container{
                // &:before{
                //   content:'\f078'!important;
                //   top:86%!important;
                //   right:43%!important;
                // }//&:before
                // .post_date{
                //   top:105%!important;
                //   left:38%!important;
                // }//.post_date
              }//.post_container
            }//&:nth-child(odd)
            .post_container{
              width:100%!important;
              padding:0!important;
              &:before{
                content:'\f078'!important;
                // top:86%!important;
                top:unset!important;
                // right:42.8%!important;
                right:42.75%!important;
                left:unset!important;
                bottom:-25px!important;
              }//&:before
              .post_date{
                // top:105%!important;
                top:unset!important;
                right:37.5%!important;
                left:unset!important;
                bottom:-95px!important;
              }//.post_date
              a{
                &.btn{
                  margin-bottom:10px;
                }//&.btn
              }//a
            }//.post_container
          }//.item
        }//.blogContainer
      }//&.blog

      &.contato{
        &::before{display:none;}//&::before
        .twoContainers{
          .leftContainer{
            padding:0!important;
            form{
              padding:0;
            }//form
          }//.leftContainer
          .rightContainer{
            padding:20px 0 0!important;
          }//.rightContainer
        }//.twoContainers
      }//&.contato

      .boxProductFeatured{
        margin-top:20px;
        figure{
          margin:20px 0!important;
        }//figure
        .btn{
          span{
            padding:0;
          }//span
        }//.btn
      }//.boxProductFeatured
    }//.contentContainer

    .footerContainer{
      .container{
        .col-xs-12{
          padding:0 9px;
          margin-bottom:15px;
          &.no-padding{padding:0 9px!important;}//&.no-padding
        }//.col-xs-12
      }//.container
      .facebookFooterContainer{
        display:none;
        iframe{display:none!important}//iframe
      }//.facebookFooterContainer
    }//.footerContainer
  }//.shop

  .dashboard{
    .navHeader{
      &.navHeaderDashboard{
        .col-md-10{
          ul{
            display:none;
          }//ul
        }//.col-md-10
        .logoNavMobile{
          padding:0;
          figure{
            margin:10px auto 10px auto!important;
          }//figure
        }//.logoNavMobile
        .navSettingsIcon{
          transition:0.3s 0.2s;
          position:fixed;
          top:10px;
          bottom:unset;
          right:unset;
          left:15px;
          transform:rotate(-360deg);
          z-index:8;
          &::before{
            // content:'\f00d';
            content:'\f085';
            font-family:'FontAwesome';
            font-size:24px;
            color:rgba(0,0,0,0.44);
          }//&::before
        }//.navSettingsIcon
        .navIcon{
          transition:0.3s 0.2s;
          position:fixed;
          top:9px;
          bottom:unset;
          // right:unset;
          right:15px;
          transform:rotate(-360deg);
          z-index:8;
          &::before{
            // content:'\f00d';
            content:'\f0c9';
            font-family:'FontAwesome';
            font-size:28px;
            color:#FFF;
          }//&::before
        }//.navIcon
      }//&.navHeaderDashboard
      &.navSidebar{
        background:transparent;
      }//&.navSidebar
      &.navMobileOpened{
        left:0;
        .no-padding{
          transition:0.4s 0.1s;
          background:#2a3542;
          height:100%;
        }
        .navMenuContainer{
          right:0;
          .navSidebar{
            .navIconSocial{
              float:none!important;
              display:block;
              position:fixed;
              top:unset;
              right:-1px;
              bottom:0;
              // left:0;
              width:40px;
              z-index:8;
              // min-height:200px;
              ul{
                width:auto;
                height:auto;
                display:block;
                background:transparent;
                box-shadow:none;
                position:absolute;
                top:unset;
                left:1px;
                bottom:10px;
                li{
                  display:block;
                  background:transparent;
                  box-shadow:none;
                  border:0;
                  margin-top:5px;
                  a{
                    display:block;
                    background:transparent;
                    padding:5px 0 10px;
                    border:0;
                    &.fa{
                      animation:iconSocial 1s 0.6s 1 ease-out;
                    }//&.fa
                  }//a
                }//li
              }//ul
            }//.navIconSocial
            .navIcon{
              transform:rotate(-360deg);
              &::before{
                content:'\f00d';
              }//&::before
            }//.navIcon
          }//.navSidebar
          ul{
            display:block;
            text-align:right;
            right:0%;
            li{
              // padding-top:30px;
            }//li
          }//ul
        }//.navMenuContainer
      }//&.navMobileOpened
      .navMenuContainer{
        transition:0.3s 0.2s;
        width:100%;
        height:auto;
        position:relative;
        top:0;
        right:-100%;
        bottom:unset;
        z-index:8;
        .navIconSocial{
          position:absolute;
          display:none;
          top:unset;
          right:-100%;
          bottom:-100%;
          ul{
            .navIcon{
              position:absolute;
              top:9px;
              right:15px;
              &::before{
                content:'\f0c9';
                font-family:'FontAwesome';
                font-size:32px;
                color:rgba(0,0,0,0.88);
              }//&::before
            }//.navIcon
            li{
              width:100%;
              position:relative;
              padding:4px 0 2px;
              margin:5px 0 0!important;
              text-align:center;
              &::before{
                content:'';
                display:block;
                width:40%;
                height:0.8px;
                background:#000;
                position:absolute;
                left:30%;
                bottom:0;
                box-shadow:0px -1px 7px 0px rgba(255, 255, 255, 0.99);
              }//&::before
              a{
                &.fa{
                  color:#FFF;
                  border:0;
                  padding:3px 0;
                  position:relative;;
                  top:unset;
                  bottom:0;
                  right:unset;
                  left:0px;
                  display:block;
                  &.fa-facebook{
                    // color:#3b5998;
                  }//&.fa-facebook
                  &::before{
                    font-size:24px;
                  }//&::before
                }//&.fa
              }//a
            }//li
          }//ul
        }//.navIconSocial
        .navSidebar{
          top:60px!important;
          right:0;
          .navIcon{
            transition:0.3s 0.2s;
            position:fixed;
            top:9px;
            bottom:unset;
            // right:unset;
            right:15px;
            z-index:8;
            &::before{
              // content:'\f00d';
              content:'\f0c9';
              font-family:'FontAwesome';
              font-size:28px;
              color:#FFF;
            }//&::before
          }//.navIcon
          ul{
            transition:0.3s;
            width:100%;
            height:100%;
            padding:0!important;
            // background::rgba(255,255,255,0.77);
            // background::rgba(21,21,21,0.77);
            background:#e30613;
            box-shadow:1px 1px 1px rgba(0,0,0,0.66);
            position:fixed;
            top:0;
            right:-100%;
            display:block!important;
            &.opened{right:0;}//&.opened
            &::after{
              content:'';
              display:block;
              width:90%;
              height:100%;
              margin:0;
              background:#f4f4f4;
              position:relative;
              top:0;
              right:0;
            }//&::after
            li{
              width:90%;
              margin:0;
              display:block!important;
              border-bottom:1px solid #e30613;
              a{
                &.active{
                  border:0!important;
                }//&.active
              }//a
            }//li
          }//ul
        }//.navSidebar
        .container{
          padding:0;
        }//.container
      }//.navMenuContainer
    }//.navHeader
  }//.dashboard
}

@keyframes iconSocial {
  0%{
    opacity:1;
    transform:scale(0.9);
  }
  50%{
    transform:scale(1.1);
  }
  100%{
    transform:scale(1);
  }
}
