// @import "../vars";
@media only screen and (min-width : 321px) and (max-device-width : 720px) {
  .shop{
    .topbarHeader{display:none;}//.topbarHeader
    .navHeader{
      top:0!important;
      .logoHeader{
        figure{
          a{
            img{width:40%;}//img
          }//a
        }//figure
      }//.logoHeader
      .logoNavMobile{
        figure{
          margin:10px 0!important;
          a{
            img{
              width:80%;
              margin:10px 0;
            }//img
          }//a
        }//figure
      }//.logoNavMobile
      .navMenuContainer{
        // display:none;
      }//.navMenuContainer
      .socialNetwork{
        width:30%;
        position:absolute;
        top:20px;
        right:0;
        ul{
          li{
            a{
              i{}//i
            }//a
          }//li
        }//ul
      }//.socialNetwork
    }//.navHeader

    .carousel{
      &.slide{
        height:230px!important;
      }//&.slide
    }//.carousel

    .contentContainer{
      padding-top:230px!important;
    }//.contentContainer
  }//.shop
}
