.dashboard{

  .contentContainer{
    figure{
      position:relative;
      .btn{
        &.removeThumbnail{
          position:absolute;
          top:4px;
          right:2px;
          padding:0px 3px 0px 2px;
          font-size:18px;
          line-height:20px;
          vertical-align:middle;
          i{}//i
        }//&.removeThumbnail
      }
      img{}//img
    }//figure
  }//.contentContainer
}//.dashboard
