.dashboard{
  #productsTab{

    .tab-content{
      .tab-pane{
        padding-top:10px;
        ul{
          .label-info{
            display:block;
            padding:10px 10px;
            margin-bottom:10px;
            text-align:left;
          }//.label-info
          li{
            margin-bottom:10px;
            .btn{
              float:right;
            }//.btn
          }//li
        }//ul
      }//.tab-pane

      button{
        margin-right:10px;
      }//button
    }//.tab-content

    .dropzone{
      margin:0;
      height:90px;
      span{
        font-size:14px;
        line-height:16px;
      }//span
    }//.dropzone
  }//#settingsTab
}//.dashboard
