.dashboard{
  #settingsTab{

    .tab-content{
      .tab-pane{
        .input-group{
          margin:0;
          display:block;
        }//.input-group
        ul{
          .label-info{
            display:block;
            padding:10px 10px;
            margin-bottom:10px;
            text-align:left;
          }//.label-info
          li{
            margin-bottom:10px;
            .fa{
              float:right;
              transition:0.4s;
              cursor:pointer;
            }//.btn
          }//li
        }//ul
      }//.tab-pane

      button{
        // margin-right:10px;
        position:fixed;
        top:58px;
        right:20px;
        padding:10px 15px;
        letter-spacing:1px;
        box-shadow:0px 2px 4px -1px rgba(0,0,0,0.55);
      }//button
    }//.tab-content

    .dropzone{
      margin:0;
      height:90px;
      span{
        font-size:14px;
        line-height:16px;
      }//span
    }//.dropzone
  }//#settingsTab
}//.dashboard
