@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
@import "//cdn.quilljs.com/1.2.3/quill.snow.css";
@import "//cdn.quilljs.com/1.2.3/quill.bubble.css";
@font-face {
  font-family: 'Open Sans';
  src: url(./../fonts/opensans-regular-webfont.eot);
  src: url(./../fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-regular-webfont.woff) format("woff"), url(./../fonts/opensans-regular-webfont.ttf) format("truetype"), url(./../fonts/opensans-regular-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Light';
  src: url(./../fonts/opensans-light-webfont.eot);
  src: url(./../fonts/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-light-webfont.woff) format("woff"), url(./../fonts/opensans-light-webfont.ttf) format("truetype"), url(./../fonts/opensans-light-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Italic';
  src: url(./../fonts/opensans-italic-webfont.eot);
  src: url(./../fonts/opensans-italic-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-italic-webfont.woff) format("woff"), url(./../fonts/opensans-italic-webfont.ttf) format("truetype"), url(./../fonts/opensans-italic-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Bold';
  src: url(./../fonts/opensans-bold-webfont.eot);
  src: url(./../fonts/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-bold-webfont.woff) format("woff"), url(./../fonts/opensans-bold-webfont.ttf) format("truetype"), url(./../fonts/opensans-bold-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url(./../fonts/opensans-semibold-webfont.eot);
  src: url(./../fonts/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-semibold-webfont.woff) format("woff"), url(./../fonts/opensans-semibold-webfont.ttf) format("truetype"), url(./../fonts/opensans-semibold-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url(./../fonts/opensans-regular-webfont.eot);
  src: url(./../fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(./../fonts/opensans-regular-webfont.woff) format("woff"), url(./../fonts/opensans-regular-webfont.ttf) format("truetype"), url(./../fonts/opensans-regular-webfont.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

/* BREAKPOINTS RESPONSIVE */
@media only screen and (min-width: 321px) and (max-device-width: 720px) {
  .shop .topbarHeader {
    display: none; }
  .shop .navHeader {
    top: 0 !important; }
    .shop .navHeader .logoHeader figure a img {
      width: 70%; }
    .shop .navHeader .navMenuContainer {
      display: none; }
    .shop .navHeader .socialNetwork {
      width: 30%;
      position: absolute;
      top: 20px;
      right: 0; }
      .shop .navHeader .socialNetwork ul li a {
        border: 1px solid red; }
  .shop .carousel.slide {
    height: 230px !important; }
  .shop .contentContainer {
    padding-top: 230px !important; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .shop .topbarHeader {
    display: none; }
  .shop .navHeader {
    top: 0 !important; }
    .shop .navHeader .logoHeader figure a img {
      width: 70%; }
    .shop .navHeader .searchTop div {
      display: none; }
      .shop .navHeader .searchTop div.input-group {
        display: inline-block; }
        .shop .navHeader .searchTop div.input-group div {
          display: inline-block; }
          .shop .navHeader .searchTop div.input-group div .searchBtnContainer {
            left: -13px; }
            .shop .navHeader .searchTop div.input-group div .searchBtnContainer .fa-search {
              padding: 8px 12px 9px 11px; }
    .shop .navHeader .navMenuContainer {
      display: none; }
    .shop .navHeader .cartContainer {
      padding: 10px 0 !important; }
    .shop .navHeader .socialNetwork {
      display: none; }
  .shop .carousel.slide {
    top: 20px !important;
    height: 200px !important; }
  .shop .contentContainer {
    padding-top: 180px !important; } }

/* COMPONENTS */
.no-padding {
  padding: 0 !important; }

.no-paddingLeft {
  padding-left: 0 !important; }

.no-paddingTop {
  padding-top: 0 !important; }

.no-paddingRight {
  padding-right: 0 !important; }

.no-paddingBottom {
  padding-bottom: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-marginBottom {
  margin-bottom: 0 !important; }

.no-radius {
  border-radius: 0 !important; }

.rotateLeft90 {
  transform: rotate(-90deg);
  position: absolute;
  left: -7%;
  bottom: 14%;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px; }

.required {
  box-shadow: 0px 0px 3px 1px #f70606 !important; }

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a:visited {
  text-decoration: none; }

.breadcrumb {
  margin: 0; }

.shop .home .breadcrumb {
  display: none; }

.shop .btn.btn-primary {
  background-color: #ff5b50; }

.shop .sigleBox {
  background: #FFF;
  border: 1px solid rgba(21, 22, 23, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }
  .shop .sigleBox .title {
    margin: 0;
    padding: 5px 0px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: #ff5b50; }

.dashboard .tabs .tab-content {
  width: 100%;
  display: inline-block;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px 0 20px; }

.btn {
  transition: 0.3s;
  position: relative;
  overflow: hidden; }
  .btn.btn-primary::before {
    transition: 0.3s;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #079002; }
  .btn.btn-primary span {
    position: relative;
    z-index: 7; }
  .btn.btn-primary:hover::before, .btn.btn-primary:active::before, .btn.btn-primary:focus::before, .btn.btn-primary.active::before {
    left: 0; }

/*Scroll Internet Explorer*/
body {
  scrollbar-base-color: #2a3542;
  scrollbar-3dlight-color: #2a3542;
  scrollbar-highlight-color: #2a3542;
  scrollbar-track-color: #5c656f;
  scrollbar-arrow-color: #777;
  scrollbar-shadow-color: #2a3542;
  scrollbar-dark-shadow-color: #2a3542; }

/*FIM Scroll Internet Explorer*/
/*Scroll Chrome e Mozilla*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px; }

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #777; }

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #000; }

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #b2afaf; }

/* Largura da barra de rolagem */
/*FIM Scroll Chrome e mozilla*/
.logoHeader {
  padding: 10px 0; }
  .logoHeader a {
    display: block; }
    .logoHeader a h1 {
      transition: 0.3s;
      color: #FFF;
      font-size: 34px;
      line-height: 46px;
      text-shadow: -2px -1px 3px rgba(255, 255, 255, 0.66);
      position: relative;
      padding-left: 10px; }
      .logoHeader a h1 img {
        animation: rotateInfinite 4s infinite linear both;
        opacity: 0.05;
        width: 30%;
        position: absolute;
        top: 5px;
        left: -10px;
        z-index: 7; }
        .logoHeader a h1 img.one {
          animation: rotateInfinite 5s 1.2s infinite linear both; }
        .logoHeader a h1 img.two {
          animation: rotateInfinite 3.8s 1s infinite linear both; }
      .logoHeader a h1 span {
        position: relative;
        z-index: 8; }
        .logoHeader a h1 span i {
          font-size: 10px;
          line-height: 12px;
          text-shadow: none;
          text-transform: uppercase;
          font-style: normal;
          letter-spacing: 0.5px;
          padding: 4px;
          position: absolute;
          top: 0;
          right: -15px;
          display: block !important; }
      .logoHeader a h1 .pokebola {
        animation: rotateInfinite 1s infinite linear both;
        transform: rotate(-90deg);
        padding: 12px;
        position: absolute;
        top: 0;
        right: -10px;
        border-radius: 50%;
        background: red;
        overflow: hidden; }
        .logoHeader a h1 .pokebola span {
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #000; }
          .logoHeader a h1 .pokebola span::before {
            content: "";
            width: 52%;
            height: 25%;
            border-radius: 50%;
            background: #FFF;
            position: absolute;
            top: 38%;
            right: 75%;
            z-index: 7; }
    .logoHeader a:hover, .logoHeader a:active, .logoHeader a:focus {
      text-decoration: none; }
      .logoHeader a:hover h1, .logoHeader a:active h1, .logoHeader a:focus h1 {
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.88); }

.shop .navHeader {
  transition: 0.3s;
  background-color: #FFF !important;
  box-shadow: 0px -10px 10px 11px rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 25px; }
  .shop .navHeader.scrolling {
    top: 0;
    left: 0; }
    .shop .navHeader.scrolling .logoHeaderContainer {
      transition: 0.3s;
      width: 16.66667% !important;
      padding: 0 !important; }
      .shop .navHeader.scrolling .logoHeaderContainer .logoHeader {
        padding: 0 0 0px 10px !important; }
    .shop .navHeader.scrolling .searchTop {
      transition: 0.3s;
      margin-top: 5px; }
      .shop .navHeader.scrolling .searchTop ul {
        display: none; }
      .shop .navHeader.scrolling .searchTop .searchInput {
        width: 100%;
        display: block;
        padding: 7px 10px 7.6px; }
      .shop .navHeader.scrolling .searchTop .searchBtnContainer .fa-search {
        padding: 8px 12px 9px 11.5px; }
      .shop .navHeader.scrolling .searchTop .searchBtnContainer .searchBtn {
        border: 0;
        padding: 7px 20px; }
    .shop .navHeader.scrolling .cartContainer {
      transition: 0.3s;
      padding: 5px 0 0;
      float: right; }
    .shop .navHeader.scrolling .navMenuContainer ul li a {
      transition: 0.3s 0.3s;
      padding: 5px 10px 3px; }
  .shop .navHeader .searchTop ul {
    list-style: none;
    text-align: left; }
    .shop .navHeader .searchTop ul li {
      display: inline-block;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 5px 10px 8px !important;
      position: relative; }
      .shop .navHeader .searchTop ul li a {
        transition: 0.3s;
        display: block;
        color: #ff5b50;
        font-size: 12px;
        padding: 5px 0 !important;
        position: relative; }
        .shop .navHeader .searchTop ul li a:hover, .shop .navHeader .searchTop ul li a:active, .shop .navHeader .searchTop ul li a:focus {
          text-decoration: none; }
          .shop .navHeader .searchTop ul li a:hover::before, .shop .navHeader .searchTop ul li a:active::before, .shop .navHeader .searchTop ul li a:focus::before {
            width: 96%;
            left: 2%;
            bottom: 3px;
            box-shadow: 1px 1px 1px #ff5b50; }
        .shop .navHeader .searchTop ul li a::before {
          transition: 0.3s;
          content: "";
          width: 100%;
          height: 0.8px;
          background: #000;
          position: absolute;
          left: 0;
          bottom: 0; }
  .shop .navHeader .searchTop .searchInput {
    width: 100%;
    display: block;
    border: 1px solid #000;
    padding: 7px 10px 7.4px; }
  .shop .navHeader .searchTop .searchBtnContainer {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer; }
    .shop .navHeader .searchTop .searchBtnContainer:hover .fa-search {
      background: #000;
      color: #ff5b50; }
    .shop .navHeader .searchTop .searchBtnContainer .fa-search {
      transition: 0.4s;
      position: absolute;
      top: 0;
      left: 0%;
      font-size: 18px;
      padding: 8px 12px 8px 11px;
      color: #FFF;
      background: #ff5b50;
      border: 0.5px solid #000;
      border-left: 0; }
    .shop .navHeader .searchTop .searchBtnContainer .searchBtn {
      background: transparent;
      border: 0;
      padding: 7px 20px; }
  .shop .navHeader .navMenuContainer {
    background: #000; }
    .shop .navHeader .navMenuContainer ul {
      list-style: none;
      text-align: left;
      display: inline-flex; }
      .shop .navHeader .navMenuContainer ul li {
        position: relative;
        margin-right: 5px;
        display: inline-block; }
        .shop .navHeader .navMenuContainer ul li:last-child {
          margin-right: 0; }
        .shop .navHeader .navMenuContainer ul li a {
          transition: 0.3s;
          display: block;
          color: #FFF;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          padding: 10px 10px 8px;
          position: relative;
          overflow: hidden; }
          .shop .navHeader .navMenuContainer ul li a span {
            position: relative;
            z-index: 7; }
          .shop .navHeader .navMenuContainer ul li a.active {
            border-bottom: 1px solid #e30613; }
        .shop .navHeader .navMenuContainer ul li:hover a, .shop .navHeader .navMenuContainer ul li:active a, .shop .navHeader .navMenuContainer ul li:focus a {
          border-bottom: 1px solid #e30613;
          text-decoration: none; }
          .shop .navHeader .navMenuContainer ul li:hover a::before, .shop .navHeader .navMenuContainer ul li:active a::before, .shop .navHeader .navMenuContainer ul li:focus a::before {
            transform: scale(1); }
  .shop .navHeader .socialNetwork ul {
    text-align: right; }
    .shop .navHeader .socialNetwork ul li {
      padding: 12px 10px; }
      .shop .navHeader .socialNetwork ul li::before {
        display: none; }
      .shop .navHeader .socialNetwork ul li.searchbar {
        position: relative; }
        .shop .navHeader .socialNetwork ul li.searchbar::before {
          transition: 0.6s;
          content: "";
          display: block !important;
          width: 260px;
          height: 100%;
          position: absolute;
          top: 0;
          left: -250px;
          background: #000;
          z-index: 7; }
        .shop .navHeader .socialNetwork ul li.searchbar input {
          width: 260px;
          font-size: 14px;
          border: 2px solid #ff5b50;
          border-radius: 1px !important;
          position: absolute;
          top: 15px;
          left: -250px;
          padding: 7px 10px;
          background: rgba(255, 255, 255, 0.99); }
          .shop .navHeader .socialNetwork ul li.searchbar input:focus {
            box-shadow: none; }
        .shop .navHeader .socialNetwork ul li.searchbar:hover::before {
          width: 0; }
      .shop .navHeader .socialNetwork ul li a {
        padding: 10px 7px; }
        .shop .navHeader .socialNetwork ul li a:before {
          font-size: 22px; }
  .shop .navHeader .cartContainer {
    padding: 40px 0 0; }
    .shop .navHeader .cartContainer .cartHover {
      position: relative; }
      .shop .navHeader .cartContainer .cartHover::before {
        content: '';
        width: 0.8px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: -7px;
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.44); }
      .shop .navHeader .cartContainer .cartHover .fa-shopping-cart {
        font-size: 34px;
        color: #000;
        position: relative; }
        .shop .navHeader .cartContainer .cartHover .fa-shopping-cart .countItems {
          width: 14px;
          height: 14px;
          background: #ff5b50;
          color: #FFF;
          font-family: 'Helvetica', sans-serif;
          border-radius: 50%;
          text-align: center;
          font-size: 11.6px;
          line-height: 14px;
          position: absolute;
          top: 2%;
          right: -3%; }
      .shop .navHeader .cartContainer .cartHover .cartListHover {
        display: none;
        width: 340px;
        height: auto;
        background: #FFF;
        border: 1px solid rgba(21, 22, 23, 0.2);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute;
        top: 45px;
        left: -280px;
        z-index: 7; }
        .shop .navHeader .cartContainer .cartHover .cartListHover.active {
          display: block; }
        .shop .navHeader .cartContainer .cartHover .cartListHover h2 {
          margin: 0;
          padding: 5px 0px;
          display: block;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          color: #FFF;
          background: #ff5b50; }
        .shop .navHeader .cartContainer .cartHover .cartListHover ul {
          width: 100%;
          display: inline-block;
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #ccc; }
          .shop .navHeader .cartContainer .cartHover .cartListHover ul::before {
            content: "\f0d8";
            font-family: 'FontAwesome';
            font-size: 26px;
            position: absolute;
            top: -23px;
            right: 24px;
            color: #000; }
          .shop .navHeader .cartContainer .cartHover .cartListHover ul li {
            display: inline-block;
            width: 100%;
            text-align: left;
            padding: 12px 16px 8px 13px;
            border-bottom: 1px solid #ccc;
            position: relative; }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li:hover, .shop .navHeader .cartContainer .cartHover .cartListHover ul li:active, .shop .navHeader .cartContainer .cartHover .cartListHover ul li:focus {
              background-color: rgba(0, 0, 0, 0.1); }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li.empty {
              text-align: center; }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li a.close {
              float: left;
              color: #e30613;
              margin-top: 3px;
              margin-right: 3px; }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li figure {
              width: 42px;
              height: auto;
              display: inline-block;
              float: left;
              margin-top: -7px;
              margin-right: 10px; }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li span {
              display: inline-block;
              margin-right: 10px; }
              .shop .navHeader .cartContainer .cartHover .cartListHover ul li span:last-child {
                margin-right: 0; }
              .shop .navHeader .cartContainer .cartHover .cartListHover ul li span.title {
                float: left; }
              .shop .navHeader .cartContainer .cartHover .cartListHover ul li span.qty {
                margin-top: -7px;
                margin-left: -5px;
                font-size: 12px;
                float: left; }
              .shop .navHeader .cartContainer .cartHover .cartListHover ul li span.price {
                float: right;
                text-align: left;
                width: 25%; }
            .shop .navHeader .cartContainer .cartHover .cartListHover ul li.subtotal {
              display: block;
              margin-top: 40px;
              margin-bottom: 0;
              padding-top: 5px;
              padding-bottom: 0;
              border-top: 1px solid #ccc;
              border-bottom: 0;
              font-weight: 500;
              line-height: 30px;
              vertical-align: middle; }
              .shop .navHeader .cartContainer .cartHover .cartListHover ul li.subtotal .price {
                width: auto;
                color: #FFF;
                background: #ff5b50;
                padding: 7px 10px 5px;
                font-weight: 300;
                line-height: 20px; }
        .shop .navHeader .cartContainer .cartHover .cartListHover .btn {
          transition: 0.3s;
          padding: 7px 20px;
          margin: 7px;
          border: 0;
          position: relative; }
          .shop .navHeader .cartContainer .cartHover .cartListHover .btn:hover, .shop .navHeader .cartContainer .cartHover .cartListHover .btn:active, .shop .navHeader .cartContainer .cartHover .cartListHover .btn:focus {
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.66); }
          .shop .navHeader .cartContainer .cartHover .cartListHover .btn::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            left: 0;
            bottom: 0; }
          .shop .navHeader .cartContainer .cartHover .cartListHover .btn::before {
            left: 0; }
          .shop .navHeader .cartContainer .cartHover .cartListHover .btn span {
            color: #FFF;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.66); }
      .shop .navHeader .cartContainer .cartHover:hover .fa, .shop .navHeader .cartContainer .cartHover:active .fa, .shop .navHeader .cartContainer .cartHover:focus .fa {
        text-decoration: none; }
      .shop .navHeader .cartContainer .cartHover:hover .cartListHover, .shop .navHeader .cartContainer .cartHover:active .cartListHover, .shop .navHeader .cartContainer .cartHover:focus .cartListHover {
        display: block; }
        .shop .navHeader .cartContainer .cartHover:hover .cartListHover .btn, .shop .navHeader .cartContainer .cartHover:active .cartListHover .btn, .shop .navHeader .cartContainer .cartHover:focus .cartListHover .btn {
          background: #000; }
    .shop .navHeader .cartContainer .userHeaderContainer {
      padding-bottom: 20px;
      position: relative;
      cursor: pointer; }
      .shop .navHeader .cartContainer .userHeaderContainer .fa-user-o {
        display: block;
        margin-left: 5px;
        padding-top: 3px;
        font-size: 28px;
        font-weight: 300;
        color: #000;
        text-decoration: none;
        position: relative; }
        .shop .navHeader .cartContainer .userHeaderContainer .fa-user-o span {
          color: #000;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          text-shadow: none;
          letter-spacing: 0.5px;
          position: absolute;
          top: 8px;
          left: 30px;
          padding-bottom: 2px; }
          .shop .navHeader .cartContainer .userHeaderContainer .fa-user-o span::after {
            content: '';
            width: 100%;
            height: 1px;
            background: #000;
            position: absolute;
            left: 0;
            bottom: 0; }
      .shop .navHeader .cartContainer .userHeaderContainer .userHover {
        display: none;
        width: 300px;
        height: auto;
        background: #FFF;
        border: 1px solid rgba(21, 22, 23, 0.2);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute;
        top: 45px;
        left: -260px;
        z-index: 7; }
        .shop .navHeader .cartContainer .userHeaderContainer .userHover::before {
          content: "\f0d8";
          font-family: 'FontAwesome';
          font-size: 26px;
          position: absolute;
          top: -23px;
          right: 14px;
          color: #000; }
        .shop .navHeader .cartContainer .userHeaderContainer .userHover h2 {
          margin: 0;
          padding: 5px 0px;
          display: block;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          color: #FFF;
          background: #ff5b50; }
        .shop .navHeader .cartContainer .userHeaderContainer .userHover form {
          display: inline-block; }
          .shop .navHeader .cartContainer .userHeaderContainer .userHover form[name='login'] {
            padding-bottom: 5px; }
            .shop .navHeader .cartContainer .userHeaderContainer .userHover form[name='login'] .input-group {
              margin-bottom: 10px; }
      .shop .navHeader .cartContainer .userHeaderContainer:hover, .shop .navHeader .cartContainer .userHeaderContainer:active, .shop .navHeader .cartContainer .userHeaderContainer:focus {
        text-decoration: none; }
        .shop .navHeader .cartContainer .userHeaderContainer:hover .userHover, .shop .navHeader .cartContainer .userHeaderContainer:active .userHover, .shop .navHeader .cartContainer .userHeaderContainer:focus .userHover {
          display: block; }

.dashboard .navHeader {
  background-color: #2a3542;
  border-bottom: 1px solid #35404d; }
  .dashboard .navHeader.navHeaderDashboard ul li {
    display: inline-block; }
  .dashboard .navHeader ul {
    list-style: none;
    text-align: right; }
    .dashboard .navHeader ul.navSidebar {
      margin: 9px auto 9px; }
      .dashboard .navHeader ul.navSidebar li a {
        text-align: left; }
    .dashboard .navHeader ul li {
      padding: 14px 10px;
      display: block; }
      .dashboard .navHeader ul li a {
        color: #FFF;
        text-decoration: none;
        text-transform: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        vertical-align: middle; }
        .dashboard .navHeader ul li a:hover, .dashboard .navHeader ul li a:active, .dashboard .navHeader ul li a:focus, .dashboard .navHeader ul li a.active {
          color: #ff5b50; }
        .dashboard .navHeader ul li a span {
          font-family: 'Josefin Sans',sans-serif; }
        .dashboard .navHeader ul li a.disabled {
          text-decoration: line-through;
          opacity: 0.44; }
          .dashboard .navHeader ul li a.disabled:hover {
            background: none;
            color: rgba(255, 255, 255, 0.66);
            opacity: 0.44;
            cursor: not-allowed; }

.dashboard .contentContainer {
  padding-top: 180px; }

.navSidebar {
  height: 91.7% !important;
  background-color: #2a3542; }
  .navSidebar ul {
    text-align: left; }
    .navSidebar ul li {
      padding: 0 !important;
      display: block; }
      .navSidebar ul li a {
        transition: 0.3s;
        display: block;
        padding: 20px 20px;
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
        color: #aeb2b7;
        border-bottom: 1px solid #35404d;
        text-transform: capitalize; }
        .navSidebar ul li a:hover, .navSidebar ul li a:active, .navSidebar ul li a:focus, .navSidebar ul li a.active {
          background-color: #5c656f;
          color: #ff5b50; }
        .navSidebar ul li a span {
          margin-left: 5px;
          font-family: 'Josefin Sans',sans-serif; }

.carousel {
  z-index: 5; }
  .carousel.slide {
    transition: 0.6s; }
    .carousel.slide .carousel-indicators {
      top: 40%;
      left: unset;
      right: 2%;
      bottom: unset;
      width: auto; }
      .carousel.slide .carousel-indicators li {
        transition: 0.3s;
        width: 10px;
        height: 10px;
        display: block;
        margin: 5px; }
        .carousel.slide .carousel-indicators li.active {
          width: 10px;
          height: 10px; }
    .carousel.slide .carousel-inner {
      width: 100%;
      height: 100%; }
      .carousel.slide .carousel-inner .item {
        width: 100%;
        height: 100%; }
        .carousel.slide .carousel-inner .item .react-parallax {
          width: 100%;
          height: 100%; }
          .carousel.slide .carousel-inner .item .react-parallax img {
            width: 110% !important;
            height: auto !important; }

.footerContainer {
  padding: 3px 0 15px;
  background: #FFF; }
  .footerContainer h3 {
    color: #000;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    padding-bottom: 8px; }
    .footerContainer h3::after {
      content: '';
      width: 12px;
      height: 1px;
      background: #e30613;
      position: absolute;
      left: 0;
      bottom: 0; }
  .footerContainer .boxSocialContainer {
    background: #eeeeee;
    padding: 0; }
  .footerContainer .copyright {
    margin-top: 20px; }
    .footerContainer .copyright span {
      color: #000;
      font-family: 'Roboto Condensed',sans-serif;
      font-size: 9px;
      font-weight: 500;
      line-height: 10px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      display: block; }

#ShopProductGrid {
  padding: 0 !important; }
  #ShopProductGrid ul {
    list-style: none; }
    #ShopProductGrid ul.productList {
      padding: 0 !important;
      display: block; }
      #ShopProductGrid ul.productList li {
        transition: 0.3s;
        position: relative;
        height: 410px;
        padding: 20px;
        font-family: 'Josefin Sans',sans-serif;
        font-weight: 300;
        text-align: center; }
        #ShopProductGrid ul.productList li .inner {
          transition: 0.3s;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px 10px 20px;
          border: 1px solid transparent;
          border-radius: 3px;
          position: relative;
          overflow: hidden; }
          #ShopProductGrid ul.productList li .inner a {
            display: block;
            height: 60%;
            overflow: hidden;
            position: relative; }
            #ShopProductGrid ul.productList li .inner a figure {
              display: flex;
              align-items: center; }
          #ShopProductGrid ul.productList li .inner .hover_shortcuts {
            transition: 0.3s;
            width: auto;
            height: auto;
            background: rgba(255, 255, 255, 0.66);
            padding: 10px 5px 10px 5px;
            position: absolute;
            top: 16%;
            right: -100%;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.11);
            border-radius: 5px 0px 0px 5px;
            z-index: 7; }
            #ShopProductGrid ul.productList li .inner .hover_shortcuts a {
              border: none;
              height: auto;
              color: #ff5b50;
              margin: 0 0 10px;
              font-size: 18px; }
              #ShopProductGrid ul.productList li .inner .hover_shortcuts a:last-child {
                margin-bottom: 0; }
              #ShopProductGrid ul.productList li .inner .hover_shortcuts a:hover, #ShopProductGrid ul.productList li .inner .hover_shortcuts a:active, #ShopProductGrid ul.productList li .inner .hover_shortcuts a:focus, #ShopProductGrid ul.productList li .inner .hover_shortcuts a:active, #ShopProductGrid ul.productList li .inner .hover_shortcuts a:focus {
                color: #000;
                text-decoration: none;
                text-shadow: 0px 0px 3px #ec362a; }
          #ShopProductGrid ul.productList li .inner h3 {
            text-transform: uppercase; }
          #ShopProductGrid ul.productList li .inner i.label {
            position: absolute;
            top: 20px;
            left: 30px;
            padding: 3px 10px 1px; }
          #ShopProductGrid ul.productList li .inner p {
            display: block; }
          #ShopProductGrid ul.productList li .inner strong {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px; }
          #ShopProductGrid ul.productList li .inner button {
            display: block;
            margin: 0 auto;
            position: relative;
            right: -50%;
            bottom: -100%;
            padding: 10px 20px 7px;
            letter-spacing: 1px;
            border-radius: 0;
            border: 0;
            transition: 0.3s;
            position: relative; }
        #ShopProductGrid ul.productList li:hover, #ShopProductGrid ul.productList li:active, #ShopProductGrid ul.productList li:focus {
          padding: 10px; }
          #ShopProductGrid ul.productList li:hover .inner, #ShopProductGrid ul.productList li:active .inner, #ShopProductGrid ul.productList li:focus .inner {
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.11);
            transform: scale(1.01); }
            #ShopProductGrid ul.productList li:hover .inner .hover_shortcuts, #ShopProductGrid ul.productList li:active .inner .hover_shortcuts, #ShopProductGrid ul.productList li:focus .inner .hover_shortcuts {
              right: 0; }
            #ShopProductGrid ul.productList li:hover .inner button, #ShopProductGrid ul.productList li:active .inner button, #ShopProductGrid ul.productList li:focus .inner button {
              right: 0;
              bottom: 0;
              width: 80%;
              box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.11); }
              #ShopProductGrid ul.productList li:hover .inner button:hover, #ShopProductGrid ul.productList li:hover .inner button:active, #ShopProductGrid ul.productList li:hover .inner button:focus, #ShopProductGrid ul.productList li:active .inner button:hover, #ShopProductGrid ul.productList li:active .inner button:active, #ShopProductGrid ul.productList li:active .inner button:focus, #ShopProductGrid ul.productList li:focus .inner button:hover, #ShopProductGrid ul.productList li:focus .inner button:active, #ShopProductGrid ul.productList li:focus .inner button:focus {
                text-shadow: -2px -1px 4px #ec362a; }

.carrinho .cartListHover {
  display: none;
  height: auto;
  background: #FFF;
  border: 1px solid rgba(21, 22, 23, 0.2);
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  top: 45px;
  left: -280px;
  z-index: 7; }
  .carrinho .cartListHover.active {
    display: block; }
  .carrinho .cartListHover.cartResume {
    width: 24.6% !important;
    position: fixed;
    top: 200px;
    left: unset;
    right: 15px;
    box-shadow: 0 4px 8px 0 rgba(21, 22, 23, 0.2); }
    .carrinho .cartListHover.cartResume ul::before {
      display: none; }
  .carrinho .cartListHover.shopCart {
    position: relative;
    top: unset;
    left: unset; }
    .carrinho .cartListHover.shopCart h2 {
      text-transform: uppercase;
      letter-spacing: 1px; }
    .carrinho .cartListHover.shopCart ul::before {
      display: none; }
    .carrinho .cartListHover.shopCart ul li.subtotal {
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 0;
      padding-top: 7px;
      padding-right: 9px;
      padding-bottom: 7px;
      border-top: 1px solid #ccc;
      border-bottom: 0;
      font-weight: 500;
      line-height: 30px;
      vertical-align: middle;
      text-align: right; }
      .carrinho .cartListHover.shopCart ul li.subtotal .price {
        color: #FFF;
        background: #ff5b50;
        margin-left: 20px;
        padding: 7px 10px 5px;
        font-weight: 300;
        line-height: 20px; }
    .carrinho .cartListHover.shopCart ul li a.close {
      margin-right: 5px; }
  .carrinho .cartListHover h2 {
    margin: 0;
    padding: 5px 0px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: #ff5b50; }
  .carrinho .cartListHover ul {
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid #ccc;
    list-style: none; }
    .carrinho .cartListHover ul::before {
      content: "\f0d8";
      font-family: 'FontAwesome';
      font-size: 26px;
      position: absolute;
      top: -23px;
      right: 24px;
      color: #000; }
    .carrinho .cartListHover ul li {
      display: inline-block;
      width: 100%;
      text-align: left;
      padding: 12px 16px 8px 13px;
      margin: 0;
      border-bottom: 1px solid #ccc;
      position: relative; }
      .carrinho .cartListHover ul li:hover, .carrinho .cartListHover ul li:active, .carrinho .cartListHover ul li:focus {
        background-color: rgba(0, 0, 0, 0.1); }
      .carrinho .cartListHover ul li.empty {
        text-align: center; }
      .carrinho .cartListHover ul li a.close {
        float: left;
        color: #e30613;
        margin-top: 3px;
        margin-right: 3px; }
      .carrinho .cartListHover ul li figure {
        width: 42px;
        height: auto;
        display: inline-block;
        float: left;
        margin-top: -7px;
        margin-right: 10px; }
      .carrinho .cartListHover ul li span {
        display: inline-block;
        margin-right: 10px; }
        .carrinho .cartListHover ul li span:last-child {
          margin-right: 0; }
        .carrinho .cartListHover ul li span.title {
          float: left; }
        .carrinho .cartListHover ul li span.qty {
          margin-top: -7px;
          margin-left: -5px;
          font-size: 12px;
          float: left; }
        .carrinho .cartListHover ul li span.price {
          float: right;
          text-align: left;
          width: 9%; }
      .carrinho .cartListHover ul li.subtotal {
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #ccc;
        border-bottom: 0;
        font-weight: 500;
        line-height: 30px;
        vertical-align: middle; }
        .carrinho .cartListHover ul li.subtotal .price {
          width: auto;
          color: #FFF;
          background: #ff5b50;
          padding: 7px 10px 5px;
          font-weight: 300;
          line-height: 20px; }
  .carrinho .cartListHover .btn {
    transition: 0.3s;
    padding: 12px 40px;
    margin: 16px 7px;
    border: 0;
    position: relative;
    box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.66); }
    .carrinho .cartListHover .btn:hover, .carrinho .cartListHover .btn:active, .carrinho .cartListHover .btn:focus {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.66); }
      .carrinho .cartListHover .btn:hover::before, .carrinho .cartListHover .btn:active::before, .carrinho .cartListHover .btn:focus::before {
        background: #5cb85c; }
      .carrinho .cartListHover .btn:hover::after, .carrinho .cartListHover .btn:active::after, .carrinho .cartListHover .btn:focus::after {
        transition: 0.4s;
        background: #000;
        width: 0%;
        height: 1px;
        left: 50%;
        bottom: 10px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66); }
    .carrinho .cartListHover .btn.btn-secondary {
      background: #5bc0de;
      padding: 5px 20px;
      margin-top: 24px;
      margin-left: 20px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.66); }
      .carrinho .cartListHover .btn.btn-secondary:hover, .carrinho .cartListHover .btn.btn-secondary:active, .carrinho .cartListHover .btn.btn-secondary:focus {
        background: #31b0d5; }
        .carrinho .cartListHover .btn.btn-secondary:hover::after, .carrinho .cartListHover .btn.btn-secondary:active::after, .carrinho .cartListHover .btn.btn-secondary:focus::after {
          width: 100%;
          height: 2px;
          left: 0%;
          bottom: 0;
          background: #5bc0de; }
      .carrinho .cartListHover .btn.btn-secondary::after {
        background: #31b0d5;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0; }
      .carrinho .cartListHover .btn.btn-secondary span {
        text-shadow: unset;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px; }
    .carrinho .cartListHover .btn::after {
      content: '';
      width: 100%;
      height: 3px;
      background: #5cb85c;
      position: absolute;
      left: 0;
      bottom: 0; }
    .carrinho .cartListHover .btn::before {
      left: 0%; }
    .carrinho .cartListHover .btn span {
      color: #FFF;
      font-size: 15px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.66); }

.carrinho .panel {
  box-shadow: none; }
  .carrinho .panel .panel-body {
    background: transparent !important; }

.shop .login .panel {
  box-shadow: none; }
  .shop .login .panel .panel-body {
    padding-top: 30px;
    padding-bottom: 30px; }
    .shop .login .panel .panel-body .sigleBox:first-child {
      margin-left: 3%; }
      .shop .login .panel .panel-body .sigleBox:first-child::before {
        content: '';
        width: 1px;
        height: 120%;
        position: absolute;
        top: -10%;
        left: 114%;
        background: #ccc; }
    .shop .login .panel .panel-body .sigleBox:last-child {
      margin-right: 3%; }

html {
  font-family: 'Helvetica',sans-serif; }
  html body {
    background-color: #EEE; }
    html body [data-js="root"] {
      height: 100%; }
    html body .btn, html body .fa.pull-right, html body .fa.pull-left {
      margin: 0 3px; }
    html body .dropdown.btn-group {
      width: 100%; }
    html body a {
      cursor: pointer; }
    html body .scrolling .shop .topbarHeader {
      position: fixed;
      top: -100%; }
    html body .scrolling .shop .carrinho .cartResume {
      transition: 0.6s 0.2s;
      top: 90px; }
    html body .dashboard .navHeader {
      transition: 0.3s;
      position: fixed;
      top: 0;
      left: 0; }
      html body .dashboard .navHeader.navSidebar {
        position: fixed;
        top: 58px;
        left: 0; }
      html body .dashboard .navHeader .logoHeader {
        padding: 5px 0; }
    html body .dashboard .contentContainer {
      transition: 0.3s;
      float: right;
      margin-top: 80px; }
      html body .dashboard .contentContainer.isVisitor {
        padding-top: 0; }
    html body .dashboard .loadingOverlay {
      transition: 0.3s;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.66);
      opacity: 1;
      z-index: 99999;
      cursor: not-allowed; }
      html body .dashboard .loadingOverlay.hidden {
        opacity: 0;
        display: none; }
    html body .dashboard .dropzone {
      transition: 0.2s;
      width: 100%;
      height: 220px;
      border-radius: 3px;
      border: 2px dashed #d9edf7;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.66);
      margin: 20px auto 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer; }
      html body .dashboard .dropzone span {
        font-size: 18px; }
      html body .dashboard .dropzone.dragIn {
        box-shadow: 0px 0px 3px 1px #bce8f1 !important;
        position: relative;
        border-radius: 5px;
        border: 1px dashed #bce8f1;
        background-color: #d9edf7;
        transform: scale(1.1);
        z-index: 9; }
        html body .dashboard .dropzone.dragIn span {
          color: #31708f; }
    html body .dashboard .filesUploaded h2 {
      font-size: 18px;
      line-height: 22px; }
    html body .dashboard .filesUploaded div {
      position: relative;
      min-height: 120px;
      display: flex;
      align-items: center;
      border: 1px solid #adadad;
      padding: 10px; }
      html body .dashboard .filesUploaded div.empty {
        display: flex;
        align-items: center;
        text-align: center; }
      html body .dashboard .filesUploaded div span {
        display: block;
        margin: 0 auto; }
      html body .dashboard .filesUploaded div ul {
        display: block; }
        html body .dashboard .filesUploaded div ul li {
          width: 160px;
          height: 160px;
          margin: 5px;
          display: flex;
          align-items: center;
          overflow: hidden;
          position: relative;
          float: left; }
          html body .dashboard .filesUploaded div ul li::before {
            transition: 0.4s;
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.66);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 7;
            transform: scale(0); }
          html body .dashboard .filesUploaded div ul li::after {
            transition: 0.3s 0.1s;
            content: "\f00c";
            font-family: 'FontAwesome';
            font-size: 48px;
            color: #5cb85c;
            position: absolute;
            top: 27%;
            right: 35%;
            opacity: 0;
            display: none;
            z-index: 8; }
          html body .dashboard .filesUploaded div ul li.selected {
            border: 2px solid #5cb85c; }
            html body .dashboard .filesUploaded div ul li.selected::before {
              transform: scale(1); }
            html body .dashboard .filesUploaded div ul li.selected::after {
              display: block;
              opacity: 1; }
            html body .dashboard .filesUploaded div ul li.selected figure {
              border: none; }
          html body .dashboard .filesUploaded div ul li figure {
            width: 160px;
            height: 160px;
            display: flex;
            border: 1px dashed #adadad;
            overflow: hidden;
            position: relative;
            cursor: pointer; }
            html body .dashboard .filesUploaded div ul li figure img {
              transform: scale(1.6); }
    html body .shop {
      padding: 0 !important; }
      html body .shop .topbarHeader {
        transition: 0.3s;
        position: fixed;
        height: 25px;
        padding: 2px 0;
        font-family: 'Arial';
        font-size: 14px;
        background-color: #eeeeee;
        color: #666;
        top: 0;
        left: 0;
        z-index: 9; }
        html body .shop .topbarHeader ul {
          list-style: none; }
          html body .shop .topbarHeader ul li {
            padding: 0 10px;
            display: inline-block;
            color: #7b7878;
            position: relative; }
            html body .shop .topbarHeader ul li:before {
              content: "";
              width: 1px;
              height: 60%;
              background: #7b7878;
              position: absolute;
              top: 25%;
              right: 0; }
            html body .shop .topbarHeader ul li:last-child:before {
              display: none; }
            html body .shop .topbarHeader ul li a {
              color: #7b7878; }
              html body .shop .topbarHeader ul li a::before {
                color: #000; }
      html body .shop .contentContainer {
        padding-top: 160px;
        z-index: 6; }
        html body .shop .contentContainer.home {
          padding-top: 420px; }
        html body .shop .contentContainer.carrinho {
          padding-top: 160px; }
          html body .shop .contentContainer.carrinho .panel {
            background: transparent; }
        html body .shop .contentContainer .panel {
          background: transparent; }
          html body .shop .contentContainer .panel .breadcrumb {
            padding-left: 3px;
            padding-right: 3px;
            margin-bottom: 1px;
            background: transparent; }
            html body .shop .contentContainer .panel .breadcrumb li.active::before {
              padding: 0 9px 0 10px; }
          html body .shop .contentContainer .panel .panel-body {
            background: #FFF; }
    html body .dropzone {
      transition: 0.2s;
      width: 90%;
      height: 140px;
      border-radius: 3px;
      box-shadow: 0px 0px 3px 1px #f70606;
      margin: 20px auto 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer; }
      html body .dropzone.dragIn {
        box-shadow: 0px 0px 3px 1px #bce8f1 !important;
        position: relative;
        border-radius: 5px;
        border: 1px dashed #bce8f1;
        background-color: #d9edf7;
        transform: scale(1.1);
        z-index: 9; }
        html body .dropzone.dragIn span {
          color: #31708f; }
    html body .filesUploaded h2 {
      font-size: 18px;
      line-height: 22px; }
    html body .filesUploaded div {
      position: relative;
      min-height: 120px;
      border: 1px solid #adadad;
      padding: 10px; }
      html body .filesUploaded div.empty {
        display: flex;
        align-items: center;
        text-align: center; }
      html body .filesUploaded div span {
        display: block;
        margin: 0 auto; }
      html body .filesUploaded div figure {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        float: left;
        margin: 5px;
        overflow: hidden; }
        html body .filesUploaded div figure img {
          transform: scale(1.4); }
    html body .contentContainer {
      position: relative;
      padding-top: 20px; }
      html body .contentContainer .btn#categoryList, html body .contentContainer .btn#typeContent {
        border-radius: 0; }
      html body .contentContainer .ql-container {
        min-height: 14em;
        background: #fefcfc; }
      html body .contentContainer .ql-toolbar {
        background: #eaecec; }
    html body .panel-title {
      font-family: 'Josefin Sans',sans-serif; }
      html body .panel-title a span {
        font-family: 'Josefin Sans',sans-serif; }

/** LOADING **/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e21b23;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

/** spinner **/
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto; }
  .spinner.white {
    width: 70px;
    height: 70px; }
    .spinner.white .double-bounce1, .spinner.white .double-bounce2 {
      background-color: #FFF; }
  .spinner .double-bounce1, .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  .spinner .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg); }
  50% {
    top: 16px;
    left: 82%; }
  70% {
    top: 12px;
    left: 72%; }
  80% {
    top: 0;
    left: 55%; }
  100% {
    transform: rotate(360deg); } }

/** spinner2 **/
.spinner2 {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: red;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.progress {
  width: 400px;
  max-width: 85vw;
  height: 4px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .progress:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    animation: load 15s linear; }

@keyframes load {
  0% {
    width: 0; }
  10% {
    width: 5%; }
  20% {
    width: 15%; }
  30% {
    width: 25%; }
  40% {
    width: 30%; }
  50% {
    width: 44%; }
  60% {
    width: 50%; }
  70% {
    width: 72%; }
  80% {
    width: 84%; }
  90% {
    width: 92%; }
  100% {
    width: 100%; } }
