.shop{
  .login{
    .panel{
      box-shadow:none;
      .panel-body{
        // background:transparent!important;
        padding-top:30px;
        padding-bottom:30px;
        .sigleBox{
          &:first-child{
            margin-left:3%;
            &::before{
              content:'';
              width:1px;
              height:120%;
              position:absolute;
              top:-10%;
              left:114%;
              background:#ccc;
            }//&::before
          }//&:first-child
          &:last-child{
            margin-right:3%;
          }//&:last-child
        }//.sigleBox
      }//.panel-body
    }//.panel
  }//.login
}//.shop
