.shop{
  .boxSpecialOffers{
    .carousel{
      &.slide{
        &::before{display:none;}//&::before
        padding:0 45px;
        height:auto;
      }//&.slide

      .carousel-control{
        transition:0.4s;
        width:43px;
        height:43px;
        border-radius:50%;
        text-align:center;
        box-shadow:none;
        // background:#919191;
        background:rgba(0,0,0,0.1);
        position:absolute;
        top:48%;
        z-index:8;
        opacity:0.8;
        &:hover{
          background:rgba(255,108,147,0.8);
        }//&:hover
        span{
          font-size:18px;
          line-height:33px;
        }//span
      }//.carousel-control
    }//.carousel
    h3{
      color:#ff6c93;
      border-bottom:3px solid #ddd;
      text-transform:uppercase;
      font-size:18px;
      font-weight:600;
      letter-spacing:0.8px;
      padding-bottom:7px;
    }//h3
    .productItem{
      padding:30px 20px;
      img{
        margin-bottom:20px;
      }//img
      h4{
        color:#000;
        text-transform:uppercase;
        text-align:center;
        font-size:14px;
        line-height:18px;
        letter-spacing:1px;
        margin:0;
      }//h4
      .priceContainer{
        text-align:center;
        font-family:'Open Sans', sans-serif;
        font-size:16px;
        letter-spacing:1px;
        .price{
          font-size:18px;
          font-weight:600;
          color:#ff6c93;
        }//.price
      }//.priceContainer
    }//.productItem
  }//.boxSpecialOffers
}//.shop
