.shop{
  .boxProductFeatured{
    text-align:center;
    margin-bottom:20px;
    h4{
      color:#000;
      letter-spacing:1px
    }//h4
    span{
      font-style:italic;
      text-align:center;
      padding:0;
      display:block;
    }//span
    figure{
      margin:20px 0 40px;
      img{}//img
    }//figure
    .btn{
      width:70%;
      margin:0 auto 0;
      text-transform:uppercase;
      span{
        font-style:normal;
      }//span
    }//.btn
  }//.boxProductFeatured
}//.shop
