.shop{
  .productDetailsContainer{
    .item{
      .productPhoto{
        figure{
          padding:20px 10px;
          img{}//img
        }//figure
      }//.productPhoto
      .productDescription{
        padding-left:40px;
        .product_title{
          margin:0;
          color:#000;
          font-weight:400;
        }//.product_title

        article{
          .shortDescription{
            margin-bottom:40px;
            article{
              color:#000;
            }//article
          }//.shortDescription
          article{
            color:#6a6f7a;
          }//article
        }//article
      }//.productDescription

      .productPriceContainer{
        margin-top:30px;
        span{
          display:block;
          color:#000;
          position:relative;
          font-family:'Open Sans Regular';
          font-size:12px;
          &.productPricePrimary{
            display:inline-block;
            color:#006ee3;
            font-size:34px;
            line-height:36px;
            font-weight:700;
          }//&.productPricePrimary
          &.productUni{
            display:inline-block;
            font-family:'Open Sans';
            font-size:14px;
            font-weight:700;
            margin-left:10px;
          }//&.productUni
        }//span
      }//.productPriceContainer

      .productButtonContainer{
        margin-top:30px;
        .btn{
          font-family:'Open Sans Bold';
          font-size:14px;
          font-weight:500;
          text-transform:uppercase;
          padding:14px 30px 12px;
          margin:0;
          background:#36c265;
          color:#FFF;
          border:0;
          &:hover,&:active,&:focus{
            background:#2cac57;
          }//&:hover,&:active,&:focus
        }//.btn
        span{
          &.spec{
            display:block;
            color:#878b94;
            font-family:'Open Sans Regular';
            font-size:10px;
            padding-top:10px;
          }//&.spec
        }//span
      }//.productButtonContainer
    }//.item
  }//.productDetailsContainer
}//.shop
