#ShopProductGrid{
  padding:0!important;
  ul{
    list-style:none;
    &.productList{
      padding:0!important;
      display:block;
      li{
        transition:0.3s;
        position:relative;
        height:480px;
        padding:20px 10px;
        font-family:'Josefin Sans',sans-serif;
        font-weight:300;
        text-align:center;
        &::after{
          content:'';
          width:1px;
          height:50%;
          background:rgba(21,21,21,0.22);
          position:absolute;
          top:15%;
          right:0;
        }//&::after
        .inner{
          transition:0.3s;
          display:inline-block;
          width:100%;
          height:100%;
          padding:10px 10px 20px;
          border:1px solid transparent;
          border-radius:3px;
          position:relative;
          overflow:hidden;
          a{
            display:block;
            height:50%;
            overflow:hidden;
            position:relative;
            // border:1px dashed red;
            figure{
              display:flex;
              align-items:center;
              height:100%;
              //img{transform:scale(0.9);}//img
            }//figure
          }//a
          .hover_shortcuts{
            transition:0.3s;
            width:auto;
            height:auto;
            background:rgba(255,255,255,0.66);
            padding:10px 5px 10px 5px;
            position:absolute;
            top:16%;
            right:-100%;
            box-shadow:0px 0px 2px 2px rgba(0,0,0,0.11);
            border-radius:5px 0px 0px 5px;
            z-index:7;
            a{
              border:none;
              height:auto;
              color:#ff5b50;
              margin:0 0 10px;
              font-size:18px;
              &:last-child{margin-bottom:0;}//&:last-child
              &:hover,&:active,&:focus{
                color:#000;
                text-decoration:none;
                text-shadow:0px 0px 3px rgb(236, 54, 42);
              }//&:hover,&:active,&:focus
            }//a
          }//.hover_shortcuts
          h3{
            text-transform:uppercase;
            font-size:20px;
            line-height:22px;
            a{
              color:#ff5b50;
            &:hover,&:active,&:focus{
              text-decoration:none;
            }//&:hover,&:active,&:focus,&:active,&:focus
            }//a
          }//h3
          i{
            &.label{
              position:absolute;
              top:20px;
              left:30px;
              padding:3px 10px 1px;
            }//&.label
          }//i
          p{
            width:90%;
            display:block;
            line-height:16px;
            padding:0 10px;
            margin:0 auto 10px;
          }//p
          strong{
            display:block;
            margin:0 auto;
            text-align:center;
            font-size:18px;
            line-height:22px;
            margin-bottom:10px;
          }//strong
          button{
            display:block;
            margin:0 auto;
            position:relative;
            right:0%;
            bottom:-100%;
            padding:10px 20px 7px;
            letter-spacing:1px;
            border-radius:0;
            border:0;
            transition:0.3s;
            position:relative;
          }//button
        }//.inner
        &:hover,&:active,&:focus{
          padding:10px;
          .inner{
            // box-shadow:0px 0px 2px 2px rgba(0,0,0,0.11);
            transform:scale(1.01);
            .hover_shortcuts{
              right:0;
            }//.hover_shortcuts
            p{
              // padding:0 10px;
            }//p
            button{
              right:0;
              bottom:0;
              width:80%;
              box-shadow:0px 0px 2px 2px rgba(0,0,0,0.11);
              &:hover,&:active,&:focus{
                text-shadow:-2px -1px 4px rgb(236, 54, 42);
              }//&:hover,&:active,&:focus
            }//button
          }//.inner
        }//&:hover,&:active,&:focus
      }//li
    }//&.productsList
  }//ul
}//#ShopProductGrid
