.shop{
  .socialNetwork{
    height:55%;
    position:absolute;
    right:0;
    display:flex;
    align-items:center;
    ul{
      width:100%;
      text-align:right;
      li{
        display:inline-block;
        padding:10px 15px 0 0;
        a{
          color:#000;
          font-size:18px;
          line-height:20px;
          position:relative;
          &::after{
            display:none;
            content:'';
            width:90%;
            height:1px;
            position:absolute;
            right:5%;
            bottom:3px;
            background-color:rgba(0,0,0,0);
            box-shadow:0px 1px 6px 0px rgba(0, 0, 0, 0.66);
          }//&::after
          &:hover,&:active,&:focus{
            text-decoration:none;
            color:#ff6c93;
            &::after{display:block;}//&::after
          }//&:hover,&:active,&:focus
        }//a
      }//li
    }//ul
  }//.socialNetwork
}//.shop


//
// .socialNetwork{
//   ul{
//
//     li{
//
//       &::before{display:none;}//&::before
//       &.searchbar{
//         position:relative;
//         &::before{
//           transition:0.6s;
//           content:"";
//           display:block!important;
//           width:260px;
//           height:100%;
//           position:absolute;
//           top:0;
//           left:-250px;
//           background:#000;
//           z-index:7;
//         }//&::before
//         input{
//           width:260px;
//           font-size:14px;
//           border:2px solid #ff5b50;
//           border-radius:1px!important;
//           position:absolute;
//           top:15px;
//           left:-250px;
//           padding:7px 10px;
//           background:rgba(255,255,255,0.99);
//           &:focus{box-shadow:none;}//&:focus
//         }//input
//         a{}//a
//         &:hover{
//           &::before{
//             width:0;
//             // right:250px;
//           }
//         }
//       }//&.searchbar
//       a{
//         padding:10px 7px;
//         &:before{
//           font-size:22px;
//         }//&:before
//       }//a
//     }//li
//   }//ul
// }//.socialNetwork
