.shop{
  .blog{
    .blogContainer{
      position:relative;
      padding-bottom:60px;
      &::before{
        display:block;
        content:'';
        width:2px;
        height:85%;
        position:absolute;
        top:10%;
        left:49.9%;
        background:#ff6c93;
      }//&::before
      &.singlePost{
        &::before{display:none;}//&::before
        .fa{
          transition:0.3s;
          color:#000;
          font-size:14px;
          font-weight:400;
          letter-spacing:0.6px;
          line-height:16px;
          background:transparent;
          border-radius:0;
          border:2px solid #000;
          padding:1px 5px 0;
          position:absolute;
          top:0;
          right:0;
          &:hover,&:focus{
            text-shadow:0px 1px 0px rgba(0,0,0,0.66);
          }//&:hover,&:focus
          &.fa-facebook{
            top:10px;
            right:20px;
          }//&.fa-facebook
          &.fa-twitter{
            top:10px;
            right:50px;
            padding:1px 3px 0;
          }//&.fa-twitter
        }//.fa
        .post_title{
          font-family:'Open Sans',sans-serif;
          font-weight:300;
          color:#ff6c93;
          margin:0 0 0;
          text-transform:uppercase;
        }//.post_title
        .post_date{
          font-size:12px;
          line-height:14px;
          color:#000;
        }//.post_date
        figure{
          width:60%;
          height:auto;
          overflow:hidden;
          background:#ddd;
          border:none;
          margin:30px auto 0;
          display:block;
          position:relative;
        }//figure
        article{
          &.postContainer{
            width:80%;
            min-height:150px;
            margin:40px auto 10px;
            padding:25px 30px;
            position:relative;
          }//&.postContainer
        }//article
      }//&.singlePost

      .page_title{
        text-align:center;
        &.category_title{
          font-family:'Open Sans',sans-serif;
          font-weight:300;
          color:#ff6c93;
          margin:0 0 20px;
          text-transform:uppercase;
        }//.category_title
      }//.page_title

      .item{
        position:relative;
        margin-bottom:30px;
        // &::before{
        //   content:'';
        //   width:2px;
        //   height:100%;
        //   position:absolute;
        //   top:160px;
        //   left:99.7%;
        //   background:#ff6c93;
        //   display:block;
        // }//&::before
        &:last-child{
          margin-bottom:0;
          // &::before{
          //   // display:none;
          //   width:12px!important;
          //   height:12px!important;
          //   border-radius:50%;
          //   background:#ff5b50;
          //   top:unset!important;
          //   bottom:-20px;
          //   margin-left:-5px;
          // }//&::before
        }//&:last-child
        // &:nth-child(1){
          // margin-top:0;
        // }//&:nth-child(0)
        &:nth-child(even){ //ímpar
          // margin-top:60px;
          // margin-bottom:
        }//&:nth-child(even)
        &:nth-child(odd){ //par
          margin-top:120px;
          margin-bottom:45px;
          // &::before{
          //   left:-0.2%!important;
          // }//&::before
          .post_container{
            // margin-top:30px;
            padding-bottom:20px;
            &::before{
              content:'\f053';
              font-family:'FontAwesome';
              font-size:42px;
              color:#ff5b50;
              position:absolute;
              top:unset;
              left:-14px;
              right:unset;
              bottom:3px;
            }//&::before
            .post_date{
              top:75%;
              left:-106px;
              right:unset;
            }//.post_date
          }//.post_container
        }//&:nth-child(odd)
        .post_container{
          width:80%;
          display:block;
          padding:0 0 10px;
          text-align:right;
          background:#ff5b50;
          box-shadow:11px 7px 25px -11px rgba(0,0,0,0.66);
          position:relative;
          &::before{
            content:'\f054';
            font-family:'FontAwesome';
            font-size:42px;
            color:#ff5b50;
            position:absolute;
            top:45%;
            right:-14px;
          }//&::before
          .fa{
            transition:0.3s;
            color:#000;
            font-size:12px;
            font-weight:400;
            letter-spacing:0.6px;
            line-height:16px;
            background:transparent;
            border-radius:0;
            border:2px solid #000;
            padding:1px 5px 0;
            position:absolute;
            top:0;
            right:0;
            &:hover,&:focus{
              color:#FFF;
              border-color:#FFF;
            }//&:hover,&:focus
            &.fa-facebook{
              top:165px;
              right:5px;
            }//&.fa-facebook
            &.fa-twitter{
              top:165px;
              right:30px;
              padding:1px 3px 0;
            }//&.fa-twitter
          }//.fa
          figure{
            width:100%;
            height:160px;
            overflow:hidden;
            background:#ddd;
            // background:url('http://cpdmemorial.org/wp-content/themes/Artificial-Reason-WP/img/no_image.png') no-repeat 50% 50% / 100% auto;
            background:url('../images/bx_loader.gif') no-repeat 50% 50%;
            border:3px solid #ff5b50;
            display:block;
            position:relative;
            a{
              display:block;
              &:hover,&:focus{
                img{
                  transform:scale(1.1);
                }//img
              }//&:hover,&:focus
              img{
                transition:0.6s;
              }//img
            }//a
          }//figure
          .post_title{
            color:#FFF;
            text-align:left;
            padding-right:50px;
            padding:0 50px 0 15px;
          }//.post_title
          .post_date{
            width:72px;
            height:72px;
            background:#ff5b50;
            border-radius:50%;
            position:absolute;
            top:42%;
            right:-106px;
            span{
              height:100%;
              color:#FFF;
              font-size:12px;
              line-height:16px;
              padding-left:5px;
              font-weight:200;
              text-align:center;
              display:flex;
              align-items:center;
            }//span
          }//.post_date
          .post_excerpt{
            display:block;
            text-align:left;
            color:#000;
            padding:0 15px;
            margin-bottom:0;
            word-wrap:break-word;
          }//.post_excerpt
          a{
            &.btn{
              width:auto;
              border:2px solid #000;
              font-size:14px;
              font-weight:400;
              margin-top:10px;
              margin-right:10px;
              padding:5px 10px;
              display:inline-block;
              &:hover,&:active,&:focus{
                // box-shadow:-1px 1px 3px 0px rgba(0,0,0,0.66);
                border-color:#FFF;
                span{color:#FFF;}//span
              }//&:hover,&:active,&:focus
              &::before{
                display:none;
                // background:#FFF;
                // left:0;
              }//&::before
              span{
                text-transform:uppercase;
              }//span
            }//&.btn
          }//a
        }//.post_container
      }//.item

      .status_loading{
        color:#ff5b50;
        font-size:16px;
        font-family:'Open Sans',sans-serif;
        font-weight:600;
        line-height:22px;
        letter-spacing:1px;
        span{}//span
      }//.status_loading
    }//.blogContainer
  }//.blog
}//shop
