.shop{
  .boxProducts5x3{
    margin-bottom:30px;
    height:560px;
    position:relative;
    .no-paddingLeft{
      height:100%;
      .product1{
        margin-bottom:30px;
        height:47.3%;
        background:#ccc;
      }//.product1
      .product2{
        height:47.3%;
        background:#ddd;
      }//.product2
    }//.no-paddingLeft
    .no-padding{
      height:100%;
      .product3{
        height:100%;
        background:#3e3e3e;
      }//.product1
    }//.no-padding
    .no-paddingRight{
      height:100%;
      .product4{
        margin-bottom:30px;
        height:47.3%;
        background:#ddd;
      }//.product4
      .product5{
        height:47.3%;
        background:#ccc;
      }//.product5
    }//.no-paddingRight
  }//.boxProducts5x3
}//.shop
