@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "./components/fonts";
@import "//cdn.quilljs.com/1.2.3/quill.snow.css";
@import "//cdn.quilljs.com/1.2.3/quill.bubble.css";

/* BREAKPOINTS RESPONSIVE */
@import "./breakpoints/desktopsAndLaptops";
@import "./breakpoints/largeScreens";
@import "./breakpoints/smartphones_landscape";
@import "./breakpoints/smartphones_portraitAndLandscape";

/* COMPONENTS */
@import "./components/util";
@import "./components/scroll";
@import "./components/logoHeader";
@import "./components/navHeader";
@import "./components/navSidebar";
@import "./components/carousel";
@import "./components/footer";

@import "./components/Dashboard/pages";
@import "./components/Dashboard/products";
@import "./components/Dashboard/settings";

@import "./components/Shop/boxProductFeatured";
@import "./components/Shop/boxSpecialOffers";
@import "./components/Shop/ShopProductGrid";
@import "./components/Shop/ShopProductDetails";
@import "./components/Shop/socialNetworkHeader";
@import "./components/Shop/CartBox/ShopCartBox";
@import "./components/Shop/LoginBox/ShopLoginBox";

@import "./components/Site/boxProducts5x3";
@import "./components/Site/blog";
html{
  font-family: 'Helvetica',sans-serif;
  body{
    background-color:#EEE;
    [data-js="root"]{height:100%;}//[data-js="root"]
    .btn,.fa.pull-right,.fa.pull-left{margin:0 3px;}
    .dropdown.btn-group{width:100%;}
    a{cursor:pointer;}

    // .react-parallax{
    //   width:100%;
    //   height:100%;
    //   img{width:120%!important;height:auto!important;}//img
    // }//.react-parallax

    .scrolling{
      .shop{
        .topbarHeader{position:fixed;top:-100%;}//.topbarHeader
        .carrinho{
          .cartResume{
            transition:0.6s 0.2s;
            top:90px;
          }//.cartResume
        }//.carrinho

        .navHeader{
          &::before{
            content:'';
            width:100%;
            height:59px;
            background:#FFF;
            position:relative;
          }//&::before
          .navMenuContainer{
            position:fixed;
            top:0;
            left:0;
          }//.navMenuContainer
        }//.navHeader
      }//.shop
    }//.scrolling

    .dashboard{
      .navHeader{
        &.navSidebar{
          position:fixed;
          top:58px;
          left:0;
          .navMenuContainer{
            width:100%;
          }//.navMenuContainer
        }//&.navSidebar
      }//.navHeader
      .contentContainer{
        transition:0.3s;
        float:right;
        margin-top:80px;
        &.isVisitor{
          padding-top:0;
        }//&.isVisitor
      }//.contentContainer

      .loadingOverlay{
        transition:0.3s;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        position:fixed;
        top:0;
        left:0;
        background:rgba(0,0,0,0.66);
        opacity:1;
        z-index:99999;
        cursor:not-allowed;
        &.hidden{opacity:0;display:none;}//&.hidden
      }//.loadingOverlay

      .dropzone{
        transition:0.2s;
        width:100%;
        height:220px;
        border-radius:3px;
        border:2px dashed #d9edf7;
        // box-shadow:0px 0px 3px 1px #f70606;
        box-shadow:0px 0px 3px 1px rgba(0,0,0,0.66);
        margin:20px auto 10px;
        padding:10px;
        display:flex;
        align-items:center;
        text-align:center;
        cursor:pointer;
        span{font-size:18px;}//span
        &.dragIn{
          // width:100%;
          // height:100%;
          box-shadow:0px 0px 3px 1px #bce8f1!important;
          position:relative;
          // top:0;
          // left:0;
          border-radius:5px;
          border:1px dashed #bce8f1;
          background-color:#d9edf7;
          transform:scale(1.1);
          z-index:9;
          span{color:#31708f;}
        }//&.dragIn
      }//.dropzone
      .filesUploaded{
        h2{font-size:18px;line-height:22px;}//h2
        div{
          position:relative;
          min-height:120px;
          display:flex;
          align-items:center;
          border:1px solid #adadad;
          padding:10px;
          &.empty{
            display:flex;
            align-items:center;
            text-align:center;
          }//&.empty
          span{display:block;margin:0 auto;}
          ul{
            display:block;
            li{
              width:160px;
              height:160px;
              margin:5px;
              display:flex;
              align-items:center;
              overflow:hidden;
              position:relative;
              float:left;
              &::before{
                transition:0.4s;
                content:"";
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.66);
                position:absolute;
                top:0;
                right:0;
                z-index:7;
                transform:scale(0);
              }//&::before
              &::after{
                transition:0.3s 0.1s;
                content:"\f00c";
                font-family:'FontAwesome';
                font-size:48px;
                color:#5cb85c;
                position:absolute;
                top:27%;
                right:35%;
                opacity:0;
                display:none;
                z-index:8;
              }//&::after
              &.selected{
                border:2px solid #5cb85c;
                &::before{
                  transform:scale(1);
                }//&::before
                &::after{
                  display:block;
                  opacity:1;
                }//&::after
                figure{border:none;}//figure
              }//&.selected
              figure{
                width:160px;
                height:160px;
                display:flex;
                border:1px dashed #adadad;
                overflow:hidden;
                position:relative;
                cursor:pointer;
                img{transform:scale(1.6);}//img
              }//figure
            }//li
          }//ul
        }//div
      }//.filesUploaded
    }//.dashboard

    .shop{
      padding:0!important;
      .topbarHeader{
        transition:0.3s;
        position:relative;
        height:5px;
        font-family:'Arial';
        font-size:14px;
        background:url('../images/topline.png') repeat-x 0 0 / 100% auto;
        color:#666;
        top:unset;
        left:unset;
        z-index:9;
        ul{
          list-style:none;
          li{
            padding:0 10px;
            display:inline-block;
            color:#7b7878;
            position:relative;
            &:before{
              content:"";
              width:1px;
              height:60%;
              background:#7b7878;
              position:absolute;
              top:25%;
              right:0;
            }//&:before
            &:last-child{
              &:before{display:none;}//&:before
            }//&:last-child
            a{
              color:#7b7878;
              &::before{color:#000;}
            }
          }
        }
      }//.topbarHeader
      .contentContainer{
        background:#FFF;
        // padding-top:420px;
        // padding-top:160px;
        padding-bottom:30px;
        z-index:6;
        .page_title{
          font-family:'Open Sans',sans-serif;
          font-weight:300;
          color:#ff6c93;
          margin:0 0 20px;
          text-transform:uppercase;
        }//page_title
        // &.home{padding:0;}//&.home
        &.contato{
          padding-bottom:30px;
          &::before{
            content:'';
            width:1px;
            height:60%;
            background:#ff5b50;
            position:absolute;
            top:20%;
            left:50%;
          }//&::before
          .twoContainers{
            .leftContainer{
              text-align:right;
              padding:20px 20px;
            }//.rightContainer
            .rightContainer{
              text-align:left;
              padding:20px 20px;
              article{
                padding:10px;
                iframe{
                  width:100%;
                  height:342px;
                }//iframe
              }//article
            }//.rightContainer
          }//.twoContainers

          form{
            width:100%;
            padding-left:26%;
            display:block;
            label{
              display:block;
              color:#ff5b50;
              font-family:'Open Sans',sans-serif;
              font-weight:200;
              font-size:18px;
              text-transform:uppercase;
              line-height:22px;
              margin:0 0 10px 0;
              vertical-align:middle;
              position:relative;
              span{
                display:block;
                padding:7px 8px 7px 12px;
                top:0;
                left:0;
                position:absolute;
                z-index:5;
              }//span
              input{
                transition:0.3s;
                width:100%;
                display:block;
                padding:6px 7px;
                border:1px solid #ff5b50;
                background:transparent;
                position:relative;
                z-index:6;
                &:focus{
                  // width:90%;
                  background-color:#ff5b50;
                  box-shadow:none;
                }//&:focus
              }//input

              textarea{
                transition:0.3s;
                width:100%;
                height:140px;
                border:1px solid #ff5b50;
                &:focus{
                  height:180px;
                  background-color:#ff5b50;
                  box-shadow:none;
                  border:0;
                }//&:focus
              }//textarea

              button{
                width:auto;
                margin-top:-15px;
                margin-right:0;
                padding:10px 16px;
                float:right;
                background:#ff5b50;
                border:1px solid #ff5b50;
                color:#FFF;
                font-family:'Open Sans', sans-serif;
                font-weight:200;
                font-size:20px;
                line-height:22px;
                text-transform:uppercase;
                &:hover,&:focus,&:active{
                  box-shadow:1.5px 2px 2px rgba(0,0,0,0.66);
                }//&:hover,&:focus,&:active
                i{
                  font-weight:200;
                  margin-left:7px;
                }//i
              }//button
            }//label
          }//form
        }//&.contato
        &.carrinho{
          // padding-top:160px;
          .panel{
            background:transparent;
          }//.panel
        }//&.carrinho

        .panel{
          background:transparent;
          .breadcrumb{
            padding-left:3px;
            padding-right:3px;
            margin-bottom:1px;
            background:transparent;
            li{
              &.active{
                &::before{
                  padding:0 9px 0 10px;
                }//&::before
              }//&.active
            }//li
          }//.breadcrumb

          .panel-body{
            background:#FFF;
          }//.panel-body
        }//.panel
      }//.contentContainer
    }//.shop


    .dropzone{
      transition:0.2s;
      width:90%;
      height:140px;
      border-radius:3px;
      box-shadow:0px 0px 3px 1px #f70606;
      margin:20px auto 10px;
      padding:10px;
      display:flex;
      align-items:center;
      text-align:center;
      cursor:pointer;
      &.dragIn{
        // width:100%;
        // height:100%;
        box-shadow:0px 0px 3px 1px #bce8f1!important;
        position:relative;
        // top:0;
        // left:0;
        border-radius:5px;
        border:1px dashed #bce8f1;
        background-color:#d9edf7;
        transform:scale(1.1);
        z-index:9;
        span{color:#31708f;}
      }//&.dragIn
    }//.dropzone
    .filesUploaded{
      h2{font-size:18px;line-height:22px;}//h2
      div{
        position:relative;
        min-height:120px;
        border:1px solid #adadad;
        padding:10px;
        &.empty{
          display:flex;
          align-items:center;
          text-align:center;
        }//&.empty
        span{display:block;margin:0 auto;}
        figure{
          width:42px;
          height:42px;
          display:flex;
          align-items:center;
          float:left;
          // border:1px dashed #000;
          margin:5px;
          overflow:hidden;
          img{transform:scale(1.4);}//img
        }//figure
      }//div
    }//.filesUploaded


    .contentContainer{
      position:relative;
      padding-top:20px;
      .btn#categoryList,.btn#typeContent{border-radius:0;}//.btn#categoryList
      .ql-container{
        min-height: 14em;
        // border-bottom-left-radius: 0.5em;
        // border-bottom-right-radius: 0.5em;
        background: #fefcfc;
      }//.ql-container

      .ql-toolbar{
        background: #eaecec;
        // border-top-left-radius: 0.5em;
        // border-top-right-radius: 0.5em;
      }//.ql-toolbar
    }//.contentContainer


    .panel-title{
      font-family:'Josefin Sans',sans-serif;
      a{
        span{font-family:'Josefin Sans',sans-serif;}
      }//a
    }//.panel-title
  }//body
}//html



/** LOADING **/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#e21b23;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


/** spinner **/
.spinner{
  width: 40px;
  height: 40px;
  // display:inline-block;
  position: relative;
  margin: 50px auto;
  &.white{
    width:70px;
    height:70px;
    .double-bounce1,.double-bounce2{background-color:#FFF;}
  }//&.white
  &.primary{
    width:70px;
    height:70px;
    .double-bounce1,.double-bounce2{background-color:#ff5b50;}
  }//&.primary
  .double-bounce1,.double-bounce2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }//.double-bounce1,.double-bounce2
  .double-bounce2{
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }//.double-bounce2
}//.spinner

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@keyframes rotateInfinite{
  0% {
    transform:rotate(0deg);
  }
  50% {
    top:16px;
    left:82%;
  }
  70% {
    top:12px;
    left:72%;
  }
  80% {
    top:0;
    left:55%;
  }
  100% {
    transform:rotate(360deg);
  }
}

/** spinner2 **/
.spinner2 {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: red;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}



// body
//   background #111 url(http://www.clipartbest.com/cliparts/Rcd/g5d/Rcdg5dXXi.png)
//   background-size 25vmin
//   background-repeat no-repeat
//   background-position center 40%
//   height 100vh
//   margin 0

.progress{
  width:400px;
  max-width:85vw;
  height:4px;
  position:absolute;
  bottom:20vh;
  left:50%;
  border-radius:4px;
  background:rgba(white, .5);
  transform:translate(-50%, -50%);
  overflow:hidden;
  &:after{
    content:'';
    display:block;
    width:100%;
    height:4px;
    background:white;
    animation:load 15s linear;
  }//&:after
}//.progress
@keyframes load{
  0%{
    width:0;
  }
  10%{
    width:5%;
  }
  20%{
    width:15%
  }
  30%{
    width:25%
  }
  40%{
    width:30%;
  }
  50%{
    width:44%
  }
  60%{
    width:50%;
  }
  70%{
    width:72%;
  }
  80%{
    width:84%;
  }
  90%{
    width:92%;
  }
  100%{
    width:100%;
  }
}
